<div class="container text-center nav-offset min-height-70vh">
	<div class="row">
		<div class="col-md-12">
			<h2 class="mainheading f-size-29 padding-bottom-25">
				<span>NEWS</span>
			</h2>
	    <div class="col-md-12">
	    	<div class="news news-box">
					<h5 class="heading f-size-18">Upcoming Events</h5>
					<ul class="list-unstyled ">
						<li ng-repeat="event in vm.upcomingEventsList" index="$index">
							<a href="#!/news/{{event._id}}">
						   	<img class="pull-left" ng-src="{{event.imageURL}}" height="32" width="32" alt="">
						   	<div class=" events text-left">
							   	<h5 class="f-size-14"> {{event.title}} </h5>
							    <h6  class="f-size-14"> {{event.displayTime}} </h6>
						    </div>
					    </a>
						</li>
					</ul>
				</div>
				<div class="news news-box">
					<h3 class="heading  f-size-18">
			   		<span>Past Events</span>
			    </h3>
			    <ul class="list-unstyled">
						<li ng-repeat="event in vm.pastEventsList">
							<a href="#!/news/{{event._id}}">
						   	<img class="pull-left" ng-src="{{event.imageURL}}" height="32" width="32" alt="">
						   	<div class=" events text-left">
							   	<h5 class="f-size-14"> {{event.title}} </h5>
							    <h6  class="f-size-14"> {{event.displayTime}} </h6>
						    </div>
					    </a>
						</li>
					</ul>
				</div>
	  	</div>
		</div>

		<!-- Admin controls -->
		<div class="col-md-12" ng-show="vm.isAdminLoggedIn()">
			<h2 class="lato-regular">Events</h2>
			<div class="row news-box univ-form">
				<div class="form-edit col-md-12 text-left">
					<h3 class="heading  f-size-18">
			   		<span>Upcoming Events</span>
			    </h3>
					<ol>
						<li ng-repeat="event in vm.upcomingEventsList track by $index" index="$index">
							<h6 class="f-size-18">
								{{event.title}}
								<span class="pull-right">
									<a>
										<i class="ion-edit" ng-click="vm.updateEvent('upcoming', event, $index)" scroll-to-block="'news-edit'"></i>
										<i class="ion-close" ng-click="vm.removeEvent(event._id, 'upcoming', $index)"></i>
									</a>
								</span>
							</h6>
						</li>
					</ol>
					<h3 class="heading  f-size-18">
			   		<span>Past Events</span>
			    </h3>
					<ol>
						<li ng-repeat="event in vm.pastEventsList track by $index" index="$index">
							<h6 class="f-size-18">
								{{event.title}}
								<span class="pull-right">
									<a>
										<i class="ion-edit" ng-click="vm.updateEvent('past', event, $index)" scroll-to-block="'news-edit'"></i>
										<i class="ion-close" ng-click="vm.removeEvent(event._id, 'past', $index)"></i>
									</a>
								</span>
							</h6>
						</li>
					</ol>
				</div>
				<div class="col-md-12 margin-top-25" id="news-edit">
					<form ng-submit="vm.addOrSaveEvent()" name="upcoming">
						<div class="form-group">
							<input type="Text" class="form-control" required ng-model="vm.newEvent.title" placeholder="Event name">
						</div>

						<div class="form-group">
							<div class="dropdown">
								<a class="dropdown-toggle" id="dropdown" role="button" data-toggle="dropdown" data-target="" href="">
									<div class="input-group">
										<input type="text" class="form-control" data-ng-model="vm.newEvent.date" formate-date format="yyyy-MM-dd" placeholder="End date of event">
										<span class="input-group-addon">
											<i class="glyphicon glyphicon-calendar"></i>
										</span>
									</div>
								</a>
								<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
									 <datetimepicker data-ng-model="vm.newEvent.date" data-datetimepicker-config="{ dropdownSelector: '#dropdown' }"></datetimepicker>
								</ul>
							</div>
						</div>

						<div class="form-group">
							<input type="Text" class="form-control" ng-model="vm.newEvent.displayTime" placeholder="Venue and Display date">
						</div>

						<div class="form-group">
							<input type="Text" class="form-control" ng-model="vm.newEvent.authors" placeholder="Authors">
						</div>

						<div class="form-group">
	              <textarea type="Text" rows="7" class="form-control resize-vertical" required ng-model="vm.newEvent.description" placeholder="Abstract"></textarea>
	          </div>

						<div class="text-left">
	            <h3 class="content-heading f-size-21 lato-regular">Youtube Video Url</h3>
	            <div class="form-group">
	  						<input type="Text" class="form-control" ng-model="vm.newEvent.videoUrl" placeholder="Content Title">
	  					</div>
	          </div>

						<div class="text-left">
	            <h3 class="content-heading f-size-21 lato-regular">Images</h3>
	            <ul class="list-inline">
	              <li class="slides-thumnail" ng-repeat="(key, image) in vm.newEvent.images track by $index">
	                <div class="project-box">
	                  <img ngf-thumbnail="image.imageUrl" class="img-responsive" height="100" width="auto" />
	                  <h5>{{image.caption}}</h5>
	                  <span>
	    								<a>
	    									<i class="ion-edit" ng-click="vm.updateImage($index, image)"></i>
	    									<i class="ion-close" ng-click="vm.removeImage(image.imageUrl)"></i>
	    								</a>
	    							</span>
	                </div>
	              </li>
	            </ul>
	            <div class="form-group">
								<input type="text" class="form-control" name="caption" ng-model="vm.image.caption" placeholder="Caption">
							</div>
	            <div class="form-group">
	  						<input class="f-size-16" type="file" name="file" ng-disabled="!vm.newEvent.title" ng-model="vm.image.image" accept="image/*" ngf-max-size="1MB" ngf-select ngf-model-invalid="errorFile">
	  					</div>
	            <div class="form-group">
								<img class="img-responsive thumbnail" ng-show="vm.image.image || vm.image.imageUrl" ngf-thumbnail="vm.image.image || vm.image.imageUrl">
								<button ng-click="vm.image.image = null" ng-disabled="!vm.newEvent.title" ng-show="vm.image.image || vm.image.imageUrl">Remove</button>
							</div>
	            <button type="button" class="red-btn btn btn-default float-none" ng-click="vm.addImage()">{{vm.imageType}}</button>
	          </div>

						<div class="text-left">
	            <h3 class="content-heading f-size-21 lato-regular">Files</h3>
	            <ul class="membership">
	              <li class="slides-thumnail" ng-repeat="(key, file) in vm.newEvent.files track by $index">
									<a ng-href="{{file.fileUrl}}" target="_blank">
				            {{file.name}}
			            </a>
									<span>
										<a>
											<i class="ion-edit" ng-click="vm.updateFile($index, file)"></i>
											<i class="ion-close" ng-click="vm.removeFile(file.fileUrl)"></i>
										</a>
									</span>
	              </li>
	            </ul>
	            <div class="form-group">
	  						<input class="f-size-16" type="file" name="file" ng-disabled="!vm.newEvent.title" ng-model="vm.file.file" ngf-select ngf-model-invalid="errorFile">
	  					</div>
	            <div class="form-group">
								<h5 class="f-size-21 lato-regular" ng-show="vm.file.file || vm.file.fileUrl">{{vm.file}}</h5>
								<button ng-click="vm.file.file = null" ng-disabled="!vm.newEvent.title" ng-show="vm.file.file || vm.file.fileUrl">Remove</button>
							</div>
	            <button type="button" class="red-btn btn btn-default float-none" ng-click="vm.addFile()">{{vm.fileType}}</button>
	          </div>

						<div class="text-left">
	            <h3 class="content-heading f-size-21 lato-regular">Links</h3>
							<ul class="membership">
								<li ng-repeat="link in vm.newEvent.links">
				         	<a ng-href="{{link.link}}" target="_blank">
				            {{link.value}}
			            </a>
									<span class="univ-form">
										<a>
											<i class="ion-edit" ng-click="vm.updateLink(link, $index)"></i>
											<i class="ion-close" ng-click="vm.removeLink($index)"></i>
										</a>
									</span>
					      </li>
					    </ul>
							<div>
								<div class="form-group">
									<input type="Text" class="form-control" ng-model="vm.newEvent.link.link" placeholder="link">
								</div>
								<div class="form-group">
									<input type="Text" class="form-control" ng-model="vm.newEvent.link.value" placeholder="link name">
								</div>
								<button type="button" class="red-btn btn btn-default float-none" ng-click="vm.addlink()">{{vm.linksType}}</button>
							</div>
	          </div>
						<button type="submit" class="red-btn btn btn-default">{{vm.type}}</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<footer ng-include="'app/shared/footer.html'" class="f-size-14 text-center"></footer>
