<div class="container margin-top-110 min-height-70vh">
	<div class="row">
    <div class="news-page col-md-12 text-center">
      <h1 class="f-size-32 lato-light">{{vm.news.title}}</h1>
      <h5 class="f-size-16" ng-show="vm.news.displayTime">{{vm.news.displayTime}}</h5>
      <div class="authors" ng-show="vm.news.authors">
        <i class="ion-person pull-left"></i>
        <span>{{vm.news.authors}}</span>
      </div>
      <hr class="margin-top-25 red-flag"/>
      <pre class="margin-top-25">
        {{vm.news.description}}
      </pre>
      <hr class="margin-top-25" ng-show="vm.news.description"/>
      <youtube-video video-url="vm.news.videoUrl" class="margin-top-25"></youtube-video>
      <hr class="margin-top-25" ng-show="vm.news.videoUrl"/>
      <div class="margin-top-25 text-center">
				<ul class="list-inline">
					<li class="slides-thumnail news-image" ng-repeat="(key, image) in vm.news.images track by $index" ng-click="vm.showAlbum($index)">
						<div class="project-box">
							<img ngf-thumbnail="image.imageUrl" class="img-responsive" height="100" width="auto" />
							<h5>{{image.caption}}</h5>
						</div>
					</li>
				</ul>
      </div>
      <hr class="margin-top-25" ng-show="vm.news.images[0]"/>
      <div class="text-left" ng-show="vm.news.files[0]">
        <h3 class="content-heading f-size-21 lato-regular">Files</h3>
				<ul class="social membership">
					<li ng-repeat="file in vm.news.files">
						<a ng-href="{{file.fileUrl}}" target="_blank">
							{{file.name}}
						</a>
					</li>
				</ul>
      </div>
      <div class="text-left" ng-show="vm.news.links[0]">
        <h3 class="content-heading f-size-21 lato-regular">Links</h3>
        <ul class="social membership">
          <li ng-repeat="link in vm.news.links">
            <a ng-href="{{link.link}}" target="_blank">
              {{link.value}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Gallery -->
<div class="gallery" ng-class="{'active': vm.galleryActive}">
	<!-- enumerate all photos -->
	<div class="news-slide" ng-repeat="image in vm.news.images">
		<img ng-swipe-right="vm.showPrev()" ng-swipe-left="vm.showNext()" ng-show="vm.isActive($index)" ng-src="{{image.imageUrl}}" />
		<h5 class="lato-thin f-size-18" ng-show="vm.isActive($index)">{{image.caption}}</h5>
	</div>

	<!-- prev / next controls -->
	<a class="ion-chevron-left arrow prev" href="" ng-click="vm.showPrev()"></a>
	<a class="ion-chevron-right arrow next" href="" ng-click="vm.showNext()"></a>
	<!-- extra navigation controls -->
	<ul class="list-inline gallery-nav">
		<li ng-repeat="image in vm.news.images track by $index" ng-class="{'active':vm.isActive($index)}">
			<img ng-src="{{image.imageUrl}}" ng-click="vm.showPhoto($index)" />
		</li>
	</ul>
	<i class="ion-close" ng-click="vm.closeGallery()"></i>
</div>
