<div class="container text-center nav-extra-top min-height-70vh">
	<div class="row">
		<h2 class="mainheading f-size-29 padding-bottom-25">
			<span>PUBLICATIONS</span>
		</h2>
		<div class="col-md-12 col-lg-12 text-left">
      <div ng-if="vm.publicationsObj.bookChapters[0]">
        <h4 class="f-size-21 sub-heading lato-regular">-- Book chapters</h4>
        <ul class="papers-list">
          <li ng-repeat="publication in vm.publicationsObj.bookChapters track by $index">
            <a ng-href="{{publication.doi}}" target="_blank">
							{{publication.author_short | namesFormate}} ({{publication.year}}),
						 {{publication.title}}({{'Chapter ' + publication.chapter}}), in
						 <em>{{publication.booktitle}}</em>,
						 <span ng-repeat="editor in publication.editor_short">
							 {{editor}}
						 </span>(Ed.),
						 {{publication.publisher}}
           </a>
					 <span class="univ-form f-size-18">
						 <a>
							 <i class="ion-edit" ng-click="vm.updatePublication(publication, $index)" scroll-to-block="'publication-edit'"></i>
							 <i class="ion-close" ng-click="vm.removePublication(publication._id, 'bookChapters', $index)"></i>
						 </a>
					 </span>
          </li>
        </ul>
      </div>
      <div ng-if="vm.publicationsObj.journalPapers[0]">
        <h4 class="f-size-21 sub-heading lato-regular">-- Journal papers</h4>
        <ul class="papers-list">
          <li ng-repeat="publication in vm.publicationsObj.journalPapers track by $index">
            <a ng-href="{{publication.doi}}" target="_blank">
							{{publication.author_short | namesFormate}} ({{publication.year}}),
						 {{publication.title}},
							<em>{{publication.journal}}</em>,
							<b>{{publication.volume}}</b>: {{publication.pages}}
          	</a>
						<span class="univ-form f-size-18">
							<a>
							 <i class="ion-edit" ng-click="vm.updatePublication(publication, $index)" scroll-to-block="'publication-edit'"></i>
							 <i class="ion-close" ng-click="vm.removePublication(publication._id, 'journalPapers', $index)"></i>
							</a>
						</span>
          </li>
        </ul>
      </div>
      <div ng-if="vm.publicationsObj.conferencePapers[0]">
        <h4 class="f-size-21 sub-heading lato-regular">-- Conference papers</h4>
        <ul class="papers-list">
          <li ng-repeat="publication in vm.publicationsObj.conferencePapers track by $index">
           <a ng-href="{{publication.doi}}" target="_blank">
						 {{publication.author_short | namesFormate}} ({{publication.year}}),
						 {{publication.title}},
						 <em>{{publication.booktitle}}</em>,
						 {{publication.address}},
						 {{publication.month}}
           </a>
					 <span class="univ-form f-size-18">
						 <a>
							 <i class="ion-edit" ng-click="vm.updatePublication(publication, $index)" scroll-to-block="'publication-edit'"></i>
							 <i class="ion-close" ng-click="vm.removePublication(publication._id, 'conferencePapers', $index)"></i>
						 </a>
					 </span>
         </li>
        </ul>
      </div>
		</div>
	</div>

  <div>
    <h2 class="lato-regular">Bibtex Form</h2>
    <div  class="row news-box univ-form">
      <div class="col-md-12 margin-top-25">
        <ol class="padding-0">
          <li ng-repeat="content in vm.bibContentArray" class="f-size-16 text-left">
            <pre class="bib-content"> <!-- Its is a pre tag dont expand the span -->
              {{content}}
              <span class="pull-right univ-form f-size-16"><a>
                <i class="ion-close" ng-click="vm.removeBibContent($index)"></i>
                <i class="ion-edit" ng-click="vm.updateBibContent(content, $index)" scroll-to-block="'bib-content-edit'"></i>
              </a></span>
            </pre>
          </li>
        </ol>
        <form ng-submit="vm.addBib()" id="bib-content-edit">
          <div class="form-group">
            <textarea type="Html" class="form-control" required ng-model="vm.bibContent" rows="20"  placeholder="Add bib content here ....."></textarea>
          </div>
          <button type="submit" class="red-btn btn btn-default pull-left">{{vm.bibContentType}}</button>
        </form>
        <button type="submit" class="red-btn btn btn-default pull-right" ng-click="vm.addBibContent()">Save</button>
      </div>
    </div>

		<div id="publication-edit">
			<h2 class="lato-regular">Publication Form</h2>
	    <div class="row news-box univ-form">
	      <div class="col-md-12 margin-top-25">
	        <form ng-submit="vm.addPublication()" name="project">

						<div class="form-group text-left">
							<h3 class="content-heading f-size-21 lato-regular">Publication</h3>
							<input type="Text" class="form-control" ng-model="vm.publication.content.entryType" placeholder="Type of entry">
						</div>
						<div class="form-group">
							<input type="Text" class="form-control" required ng-model="vm.publication.key" placeholder="Citation key">
						</div>

						<div class="form-group">
							<input type="Text" class="form-control" ng-model="vm.publication.title" placeholder="Title">
						</div>
						<div class="form-group">
							<select class="form-control" name="profession" ng-model="vm.publication.type">
								<option disabled value="">Select type ...</option>
								<option value="incollection">Book chapters</option>
								<option value="article">Journal papers</option>
								<option value="inproceedings">Conference papers</option>
							</select>
						</div>
						<div class="text-left margin-bottom-10">
	            <h3 class="content-heading f-size-21 lato-regular">Authors</h3>
							<ul class="list-unstyled">
								<li ng-repeat="author in vm.publication.author_short track by $index">
				          {{author}}
									<span class="univ-form">
										<a>
											<i class="ion-edit" ng-click="vm.updateAuthor(author, $index)"></i>
											<i class="ion-close" ng-click="vm.removeAuthor($index)"></i>
										</a>
									</span>
					      </li>
					    </ul>
							<div>
								<div class="form-group">
									<input type="Text" class="form-control" ng-model="vm.publication.authorName" placeholder="Author">
								</div>
								<button type="button" class="red-btn btn btn-default float-none" ng-click="vm.addAuthor()">{{vm.authourType}}</button>
							</div>
	          </div>
						<div class="text-left margin-bottom-10">
	            <h3 class="content-heading f-size-21 lato-regular">Editors</h3>
							<ul class="list-unstyled">
								<li ng-repeat="editor in vm.publication.editor_short track by $index">
				          {{editor}}
									<span class="univ-form">
										<a>
											<i class="ion-edit" ng-click="vm.updateEditor(editor, $index)"></i>
											<i class="ion-close" ng-click="vm.removeEditor($index)"></i>
										</a>
									</span>
					      </li>
					    </ul>
							<div>
								<div class="form-group">
									<input type="Text" class="form-control" ng-model="vm.publication.editorName" placeholder="Author">
								</div>
								<button type="button" class="red-btn btn btn-default float-none" ng-click="vm.addEditor()">{{vm.editorType}}</button>
							</div>
	          </div>
						<div class="form-group">
							<input type="Text" class="form-control" ng-model="vm.publication.publisher" placeholder="Publisher">
						</div>
						<div class="form-group">
							<input type="Text" class="form-control" ng-model="vm.publication.address" placeholder="Address">
						</div>
						<div class="form-group">
							<input type="Text" class="form-control" ng-model="vm.publication.month" placeholder="Month">
						</div>
						<div class="form-group">
							<input type="Text" class="form-control" ng-model="vm.publication.year" placeholder="Year">
						</div>
						<div class="form-group">
							<input type="Text" class="form-control" ng-model="vm.publication.journal" placeholder="Journal">
						</div>
						<div class="form-group">
							<input type="Text" class="form-control" ng-model="vm.publication.chapter" placeholder="Chapter">
						</div>
						<div class="form-group">
							<input type="Text" class="form-control" ng-model="vm.publication.volume" placeholder="Volume">
						</div>
						<div class="form-group">
							<input type="Text" class="form-control" ng-model="vm.publication.pages" placeholder="Pages">
						</div>
						<div class="form-group">
							<input type="Text" class="form-control" ng-model="vm.publication.doi" placeholder="DOI">
						</div>

						<div class="form-group text-left chosen-select">
							<h3 class="content-heading f-size-21 lato-regular">Members related</h3>
							<select class="form-control" multiple chosen ng-model="vm.publication.members" data-placeholder="Select members">
							  <option value="{{member._id}}" ng-repeat="member in vm.teamList">
									{{member.name.firstName}}
								</option>
							</select>
						</div>
						<div class="form-group text-left chosen-select">
							<h3 class="content-heading f-size-21 lato-regular">Projects related</h3>
							<select class="form-control" multiple chosen ng-model="vm.publication.projects" data-placeholder="Select projects">
							  <option value="{{project._id}}" ng-repeat="project in vm.projectsList">
									{{project.title}}
								</option>
							</select>
						</div>

	          <button type="submit" class="red-btn btn btn-default">{{vm.publicationType}}</button>
	        </form>
	      </div>
	    </div>
		</div>

  </div>
</div>
