<!--Main Page Starts here-->
<div class="fixed-menu text-center">
	<ul class="fixed-list f-size-14 list-inline">
		<li><a href="" scroll-to-block="'about-us'">ABOUT US</a></li>
		<li><a href="" scroll-to-block="'research'">RESEARCH</a></li>
		<li><a href="" scroll-to-block="'contact-us'">CONTACT US</a></li>
	</ul>
</div>

<!--Carousel-Image-Slider-->
<div class="container-fluid banner navbar-offset">
	<div ng-controller="CarouselController as vm">
	    <div class="home-carousel">
	      <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
		    	<div uib-slide ng-repeat="slide in vm.slides track by $index" index="$index">
	        	<img ng-src="{{slide.imageUrl}}">
		            <div class="carousel-caption">
			            <!-- <h4 class="lato-thin f-size-32">{{slide.captionTitle}}</h4> -->
			            <p class="lato-thin f-size-18">{{slide.captionText}}</p>
		            </div>
		        </div>
	   		</div>
	    </div>
	</div>
</div>
<div class="container text-center">
	<div class="row padding-top-50" ng-controller="AbstractController as vm">
		<div class="col-md-12">
			<h3 class="mainheading f-size-29 padding-bottom-25" id="about-us">
				<span>ABOUT US</span>
			</h3>
			<pre class="about-us-content">{{vm.contentObj.content}}</pre>
	  </div>
	  <!-- <div class="newsb news-box" ng-controller="UpcomingEventsController as vm">
			<h5 class="heading f-size-18">Upcoming Events</h5>
			<ul class="list-unstyled ">
				<li ng-repeat="event in vm.events track by event._id" index="$index">
					<div>
					   	<img ng-src="{{event.image}}" height="32" width="32" alt="">
					   	<div class="text-left">
						   	<h5 class="f-size-14"> {{event.organizer}} </h5>
						    <h6  class="f-size-14"> {{event.date}} </h6>
					    </div>
				    </div>
				</li>
			</ul>
			<div class="notification">
				<span><i class="ion-ios-bell"></i><span>12</span></span>
			</div>
		</div> -->
	</div>

	<div class="row padding-top-50">
		<div class="col-md-12" ng-controller="ResearchController as vm">
			<h3 class="mainheading f-size-29 padding-bottom-25" id="research">
				<span>RESEARCH AREAS</span>
			</h3>
			<ul class="text-left research-areas padding-left-15">
				<li ng-repeat="area in vm.areas track by area._id" index="$index">{{area.area}}</li>
			</ul>
		</div>
	</div>

	<div class="row padding-top-50" ng-controller="ContactUsController as vm">
		<h3 class="mainheading f-size-29 padding-bottom-25" id="contact-us">
			<span>CONTACT US</span>
		</h3>
		<div class="col-md-5 text-left">
			<h3 class="lato-regular">Address :</h3>
			<pre class="about-us-content">{{vm.contactUs.address}}</pre>
			<ul class="address list-unstyled list-inline">
				<li>
         <a href="tel:{{vm.contactUs.phone}}">
          <i class="pull-left ion-ios-telephone"></i>
          <p class="pull-right">{{vm.contactUs.phone}}</p>
         </a>
	      </li>
				<li>
         <a href="mailto:{{vm.contactUs.email}}">
          <i class="pull-left ion-ios-email margin-top-2"></i>
          <p class="pull-right">{{vm.contactUs.email | emailFilter}}</p>
         </a>
	      </li>
		    </ul>
		 </div>
		 <div class="col-md-7">
		     <ng-map class="map" center="19.132814, 72.917200" zoom="14" scrollwheel="false">
		    		<marker position="[19.132814, 72.917200]"></marker>
		     </ng-map>
		     <a class="directions" href="https://www.google.co.in/maps/dir//SSRR+Lab,+5th+Floor,+VMCC,+IIT+Bombay,+IIT+Area,+Powai,+Mumbai,+Maharashtra+400076/@19.1327925,72.9169684,19z/data=!4m15!1m6!3m5!1s0x3be7c7f5dadb443d:0x8ae949b44903ef82!2sSSRR+Lab,+5th+Floor,+VMCC,+IIT+Bombay!8m2!3d19.1328144!4d72.9171998!4m7!1m0!1m5!1m1!1s0x3be7c7f5dadb443d:0x8ae949b44903ef82!2m2!1d72.9171998!2d19.1328144?hl=en" target="blank">Directions</a>
		 </div>
	</div>

	<!-- Admin controls -->
	<div ng-controller="AbstractController as vm" ng-show="vm.isAdminLoggedIn()">
		<h2 class="lato-regular">About us</h2>
		<div class="row news-box univ-form">
			<div class="form-edit col-md-12 text-left" ng-show="vm.contentObj">
				<pre class="about-us-content">
					{{vm.contentObj.content}}
				</pre>
				<span class="pull-right">
					<a>
						<i class="ion-edit" ng-click="vm.updateAboutUs(vm.contentObj)"></i>
						<!-- <i class="ion-close" ng-click="vm.removeAboutUs(area._id, $index)"></i> -->
					</a>
				</span>
			</div>
			<div class="col-md-12 margin-top-25">
				<form class="text-left" ng-submit="vm.addOrSaveAboutUs()">
					<div class="form-group">
						<textarea type="Text" class="form-control resize-vertical" rows="10" ng-model="vm.newContentObj.content" placeholder="Content"></textarea>
					</div>
					<button type="submit" class="red-btn btn btn-default" ng-disable="!research.$valid">{{vm.type}}</button>
				</form>
			</div>
		</div>
	</div>
	<div ng-controller="CarouselController as vm" ng-show="vm.isAdminLoggedIn()">
		<h2 class="lato-regular">Carousel</h2>
		<div class="row news-box univ-form">
			<div class="form-edit col-md-12 text-left" >
				<ol>
					<li ng-repeat="slide in vm.slides track by $index" index="$index">
						<h6 class="f-size-18">
							{{slide.captionText}}
							<span class="pull-right">
								<a>
									<i class="ion-edit" ng-click="vm.updateSlide(slide, $index)" scroll-to-block="'carousel-edit'"></i>
									<i class="ion-close" ng-click="vm.removeSlide(slide._id, $index)"></i>
								</a>
							</span>
						</h6>
					</li>
				</ol>
			</div>
			<div class="col-md-12 margin-top-25" id="carousel-edit">
				<form ng-submit="vm.addOrSaveSlide()" name="carousel" class="text-left">
					<fieldset>
						<!-- <div class="form-group">
						  <input type="text" class="form-control" name="captionTitle" ng-model="vm.carouselObj.captionTitle" placeholder="Caption Title">
						</div> -->
						<div class="form-group">
							<input type="text" class="form-control" name="captionText" ng-model="vm.carouselObj.captionText" placeholder="Caption Text">
						</div>
						<div class="form-group">
						    <label for="exampleInputFile">(1280x400)</label>
						    <input class="f-size-16" type="file" name="file" ng-model="vm.carouselObj.image" accept="image/*" ngf-max-size="1MB" ngf-select ngf-model-invalid="errorFile">
						</div>
						<div class="form-group">
							<img class="img-responsive thumbnail" ng-show="carousel.file.$valid" ngf-thumbnail="vm.carouselObj.image || vm.carouselObj.imageUrl">
							<button ng-click="vm.carouselObj.image = null" ng-show="vm.carouselObj.image || vm.carouselObj.imageUrl">Remove</button>
						</div>
						<button type="submit" ng-disabled="!carousel.$valid" class="red-btn btn btn-default">{{vm.type}}</button>
					</fieldset>
				</form>
			</div>
		</div>
	</div>

	<div ng-controller="ResearchController as vm" ng-show="vm.isAdminLoggedIn()">
		<h2 class="lato-regular">Research Areas</h2>
		<div class="row news-box univ-form">
			<div class="form-edit col-md-12 text-left">
				<ol>
					<li ng-repeat="area in vm.areas track by $index" index="$index">
						<h6 class="f-size-18">
							{{area.area}}
							<span class="pull-right">
								<a>
									<i class="ion-edit" ng-click="vm.updateArea(area, $index)" scroll-to-block="'research-edit'"></i>
									<i class="ion-close" ng-click="vm.removeArea(area._id, $index)"></i>
								</a>
							</span>
						</h6>
					</li>
				</ol>
			</div>
			<div class="col-md-12 margin-top-25" id="research-edit">
				<form ng-submit="vm.addOrSaveArea()" name="research">
					<div class="form-group">
					    <input type="Text" class="form-control" required ng-model="vm.newArea.area" placeholder="Research area">
					</div>
					<button type="submit" class="red-btn btn btn-default" ng-disable="!research.$valid">{{vm.type}}</button>
				</form>
			</div>
		</div>
	</div>

	<div ng-controller="ContactUsController as vm" ng-show="vm.isAdminLoggedIn()">
		<h2 class="lato-regular">Contact Us</h2>
		<div class="row news-box univ-form">
			<div class="form-edit col-md-12 text-left padding-bottom-25">
				<div>
					<h3 class="lato-regular">Address:</h3>
					<pre class="about-us-content">{{vm.contactUs.address}}</pre>
					<h3 class="lato-regular">Phone:</h3>
					<div>
						{{vm.contactUs.phone}}
					</div>
					<h3 class="lato-regular">Email:</h3>
					<div>
						{{vm.contactUs.email}}
					</div>
				</div>
				<span class="pull-right">
					<a>
						<i class="ion-edit" ng-click="vm.updateContactUs(vm.contactUs)"></i>
					</a>
				</span>
			</div>
			<div class="col-md-12 margin-top-25">
				<form ng-submit="vm.addOrSaveContactUs()" name="contactUs">
					<div class="form-group">
						<textarea type="Text" rows="5" class="form-control resize-vertical" required ng-model="vm.contact.address" placeholder="Address"></textarea>
					</div>
					<div class="form-group has-feedback">
						<input type="text" placeholder="Phone" class="form-control f-size-16 lato-light" required  ng-model="vm.contact.phone"/>
						<span class="ion-ios-telephone form-control-feedback"></span>
					</div>
					<div class="form-group has-feedback">
						<input type="text" placeholder="Email" class="form-control f-size-16 lato-light" required  ng-model="vm.contact.email"/>
						<span class="ion-email form-control-feedback"></span>
					</div>
					<button type="submit" class="red-btn btn btn-default">{{vm.type}}</button>
				</form>
			</div>
		</div>
	</div>

</div>

<footer ng-include="'app/shared/footer.html'" class="f-size-14 text-center"></footer>
