<div class="fixed-menu text-center">
	<ul class="fixed-list f-size-14 list-inline">
		<li><a href="" scroll-to-block="'profile-projects'">PROJECTS</a></li>
		<li><a href="" scroll-to-block="'profile-publications'">PUBLICATIONS</a></li>
		<li><a href="" scroll-to-block="'profile-teachings'">TEACHING</a></li>
	</ul>
</div>
<div class="container text-center margin-top-110">
	<div class="row">
		<div class="users">
			<div class="col-md-3">
				<div class="padding-10 user-box">
					<div class="main-image">
            <button type="file" ngf-select="vm.uploadDP(vm.user._id, $file)" accept="image/*" ngf-max-height="1000" ngf-max-size="1MB"></button>
						<div>
							<img ng-src="{{vm.user.dpUrl || '/assets/img/dummy_user.jpg'}}">
						</div>
						<span class="{{vm.user.experienceStatus}}">{{vm.user.experience || 0}} yrs</span>
					</div>
					<div class="form-group">
						<input type="Text" class="form-control" required ng-model="vm.user.experience" placeholder="Teaching Experience">
					</div>
					<div class="social text-left f-size-16">
						<h3 class="f-size-21 sub-heading">Contact:</h3>
						<hr>
						<ul class="list-unstyled">
							<li ng-repeat="contact in vm.user.contacts track by $index">
			         	<a ng-href="{{contact.attr + ':' + contact.value}}" target="_blank">
				        	<i class="ion-ios-{{contact.type}}"></i>{{contact.value}}
			          </a>
								<span class="univ-form">
									<a>
										<i class="ion-edit" ng-click="vm.updateContact(contact, $index)"></i>
										<i class="ion-close" ng-click="vm.removeContact($index)"></i>
									</a>
								</span>
			      	</li>
			      </ul>
						<form ng-submit="vm.addContact()">
							<div class="form-group">
								<select class="form-control" name="profession" required ng-model="vm.user.contact.type">
	  							<option disabled value="">Select type ...</option>
	  							<option value="telephone">Telephone</option>
	  							<option value="email">Email</option>
	  							<option value="world">Personal website</option>
	  						</select>
							</div>
							<div class="form-group">
								<input type="Text" class="form-control" required ng-model="vm.user.contact.value" placeholder="Contact details">
							</div>
							<button type="submit" class="red-btn btn btn-default float-none">{{vm.contactType}}</button>
						</form>
					</div>
					<div class="social text-left f-size-16">
						<h3 class="f-size-21 sub-heading">Membership:</h3>
						<hr>
						<ul class="membership">
							<li ng-repeat="membership in vm.user.memberships">
			         	<a ng-href="{{membership.link}}" target="_blank">
			            {{membership.value}}
		            </a>
								<span class="univ-form">
									<a>
										<i class="ion-edit" ng-click="vm.updateMembership(membership, $index)"></i>
										<i class="ion-close" ng-click="vm.removeMembership($index)"></i>
									</a>
								</span>
				      </li>
				    </ul>
						<form ng-submit="vm.addMembership()">
							<div class="form-group">
								<input type="Text" class="form-control" ng-model="vm.user.membership.link" placeholder="Membership link">
							</div>
							<div class="form-group">
								<input type="Text" class="form-control" required ng-model="vm.user.membership.value" placeholder="Membership name">
							</div>
							<button type="submit" class="red-btn btn btn-default float-none">{{vm.membershipType}}</button>
						</form>
						<hr class="margin-top-10" />
				    <ul class="icons f-size-21 list-unstyled">
							<li ng-repeat="socialLink in vm.user.socialLinks track by $index">
					      <a ng-href="{{socialLink.value}}" target="_blank">
					         <i ng-hide="socialLink.type == 'researchGate' || socialLink.type == 'orcid'" class="ion-social-{{socialLink.type}}"></i>
					         <img class="vertical-align-inherit" ng-if="socialLink.type == 'researchGate' || socialLink.type == 'orcid'" src="/assets/img/{{socialLink.type + vm.hover}}.png" height="18" width="auto" ng-mouseover="vm.hover = '_hover'" ng-mouseleave = "vm.hover = ''"/>
					      </a>
								<span class="univ-form">
									<a>
										<i class="ion-edit" ng-click="vm.updateSocialLink(socialLink, $index)"></i>
										<i class="ion-close" ng-click="vm.removeSocialLink($index)"></i>
									</a>
								</span>
		      		</li>
	      		</ul>
						<form ng-submit="vm.addSocialLink()">
							<div class="form-group">
								<select class="form-control" name="profession" required ng-model="vm.user.socialLink.type">
	  							<option disabled value="">Select type ...</option>
	  							<option value="researchGate">ResearchGate</option>
	  							<option value="linkedin">Linkedin</option>
	  							<option value="orcid">Orcid</option>
	  							<option value="facebook">Facebook</option>
	  							<option value="twitter">Twitter</option>
	  						</select>
							</div>
							<div class="form-group">
								<input type="Text" class="form-control" required ng-model="vm.user.socialLink.value" placeholder="Social link value">
							</div>
							<button type="submit" class="red-btn btn btn-default float-none">{{vm.socialLinkType}}</button>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-9 text-left">
				<div class="row">
					<div class="prof-details col-md-7">
						<h2 class="f-size-32">{{vm.user.name.firstName}} {{vm.user.name.middleName}}</br>{{vm.user.name.lastName}}</h2>
						<h5  class="f-size-16">{{vm.user.profession}}</h5>
					</div>
					<div class="prof-cv col-md-5 text-right">
            <button type="file" ngf-select="vm.uploadCV(vm.user._id, $file)" accept="application/pdf" ngf-max-height="1000" ngf-max-size="1MB"><i class="ion-ios-upload-outline"></i></button>
						<a class="f-size-29 lato-regular" ng-href="{{vm.user.cvUrl}}" target="_blank">CV</a>
						<div>
              <select name="profession" required ng-model="vm.user.experienceStatus" class="f-size-16">
  							<option disabled value="">Select status ...</option>
  							<option value="CURRENT">CURRENT</option>
  							<option value="PAST">PAST</option>
  						</select>
							<span class="f-size-16 lato-regular {{vm.user.experienceStatus}}">{{vm.user.experienceStatus}}</span>
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-sm-6 col-md-6 col-md-6">
						<h3 class="f-size-21 lato-regular">
		        	Display Name:
	      		</h3>
	  				<div class="form-group">
	  				    <input type="Text" class="form-control" required ng-model="vm.user.displayName" placeholder="Display Name">
	  				</div>
					</div>
					<div class="col-sm-6 col-md-6 col-md-6">
						<h3 class="f-size-21 lato-regular">
		        	Department:
	      		</h3>
	  				<div class="form-group">
	  				    <input type="Text" class="form-control" required ng-model="vm.user.department" placeholder="Department">
	  				</div>
					</div>
				</div>
				<div>
					<h3 class="f-size-21 lato-regular">
	        	Research Interest:
      		</h3>
			    <ul class="text-left res-areas padding-left-20">
				   <li ng-repeat="interet in vm.user.researchInterests">
						 {{interet.area}}
						 <span class="pull-right univ-form">
							 <a>
								 <i class="ion-edit" ng-click="vm.updateInterest(interest, $index)"></i>
								 <i class="ion-close" ng-click="vm.removeInterest($index)"></i>
							 </a>
						 </span>
					 </li>
	   			</ul>
          <form ng-submit="vm.addInterests()" name="research">
    				<div class="form-group">
    				    <input type="Text" class="form-control" required ng-model="vm.user.researchInterest.area" placeholder="Research Interest">
    				</div>
    				<button type="submit" class="red-btn btn btn-default float-none">{{vm.interestType}}</button>
    			</form>
  			</div>
    		<div ng-show="vm.user.projects[0]">
	      	<h3 class="content-heading f-size-21 lato-regular" id="profile-projects">Projects</h3>
  				<ul class="project-list list-inline">
						<li ng-repeat="project in vm.user.projects">
							<a ng-href="#!/project/{{project._id}}" class="project-box">
								<h4 class="f-size-21 lato-light">{{project.title}}</h4>
								<h6 class="f-size-16 text-right">{{(project.date.from | date:'MMM, yyyy') +'-'+ (project.date.to | date:'MMM, yyyy')}}</h6>
							</a>
						</li>
					</ul>
				</div>

				<div ng-show="vm.user.publications.bookChapters[0] || vm.user.publications.journalPapers[0] || vm.user.publications.conferencePapers[0]">
					<h3 class="content-heading f-size-21 lato-regular" id="profile-publications">Publications</h3>
					<div ng-if="vm.user.publications.bookChapters[0]">
						<h4 class="f-size-21 sub-heading lato-regular">-- Book chapters</h4>
						<ul class="papers-list">
							<li ng-repeat="publication in vm.user.publications.bookChapters">
								<a ng-href="{{publication.doi}}" target="_blank">
		             <span ng-repeat="author in publication.author_short">
									 {{author}}
								 </span>({{publication.year}}),
								 {{publication.title}}({{'Chapter ' + publication.chapter}}), in
								 <em>{{publication.booktitle}}</em>,
								 <span ng-repeat="editor in publication.editor_short">
									 {{editor}}
								 </span>(Ed.),
								 {{publication.publisher}}
		           </a>
							</li>
						</ul>
					</div>
					<div ng-if="vm.user.publications.journalPapers[0]">
						<h4 class="f-size-21 sub-heading lato-regular">-- Journal papers</h4>
						<ul class="papers-list">
							<li ng-repeat="publication in vm.user.publications.journalPapers">
								<a ng-href="{{publication.doi}}" target="_blank">
									<span ng-repeat="author in publication.author_short">
		 							 {{author}}
		 						 </span>({{publication.year}}),
								 {{publication.title}},
									<em>{{publication.journal}}</em>,
									<b>{{publication.volume}}</b>: {{publication.pages}}
		          	</a>
							</li>
						</ul>
					</div>
					<div ng-if="vm.user.publications.conferencePapers[0]">
						<h4 class="f-size-21 sub-heading lato-regular">-- Conference papers</h4>
						<ul class="papers-list">
							<li ng-repeat="publication in vm.user.publications.conferencePapers">
								<a ng-href="{{publication.doi}}" target="_blank">
 								 <span ng-repeat="author in publication.author_short">
 									 {{author}}
 								 </span>({{publication.year}}),
 								 {{publication.title}}, 
 								 <em>{{publication.booktitle}}</em>,
 								 {{publication.address}},
 								 {{publication.month}}
 		           </a>
						 </li>
						</ul>
					</div>

				</div>
				<div >
					<h3 class="content-heading f-size-21 lato-regular" id="profile-teachings">Teaching</h3>
					<div class="table-responsive">
						<table class="table table-bordered">
							<colgroup>
								<col class="col-xs-2">
								<col class="col-xs-6">
								<col class="col-xs-4">
							</colgroup>
							<thead>
								<tr>
									<th class="f-size-18 lato-regular">Course Code</th>
									<th class=" lato-regular f-size-18">Course Name</th>
									<th class=" f-size-18 lato-regular">Duration</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="course in vm.user.teachingCourses track by $index">
									<td class="col-md-2">{{course.code}}</td>
									<td class="col-md-6"><a ng-href="{{course.link}}" target="_blank">{{course.name}}</a></td>
									<td class="col-md-4 padding-right-40 position-relative">
										{{course.period}}
										<span class="pull-right univ-form f-size-16 edit-position">
											<a>
												<i class="ion-edit" ng-click="vm.updateTeachingCourse(course, $index)"></i>
												<i class="ion-close" ng-click="vm.removeTeachingCourse($index)"></i>
											</a>
										</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<form ng-submit="vm.addTeachingCourse()">
						<div class="form-group">
							<input type="Text" class="form-control" required ng-model="vm.user.teachingCourse.code" placeholder="Course code">
						</div>
						<div class="form-group">
							<input type="Text" class="form-control" required ng-model="vm.user.teachingCourse.name" placeholder="Course name">
						</div>
						<div class="form-group">
							<input type="Text" class="form-control" ng-model="vm.user.teachingCourse.link" placeholder="Course link">
						</div>
						<div class="form-group">
							<input type="Text" class="form-control" required ng-model="vm.user.teachingCourse.period" placeholder="Course time period">
						</div>
						<button type="submit" class="red-btn btn btn-default float-none">{{vm.teachingCourseType}}</button>
					</form>
				</div>

				<button type="submit" class="red-btn btn btn-default" ng-click="vm.updateProfile(vm.user._id)">Save</button>
			</div>
		</div>
	</div>
</div>
