<!DOCTYPE html>
<html data-ng-app="app">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="google-site-verification" content="AIzaSyBXPWW3UENffVUXSSnII0XYdjWgQIP1dBI" />

		<title></title>

		<base href="/" target="_blank, _self, _parent, _top">

		<!-- Vendor CSS -->
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
		<link rel="stylesheet" type="text/css" href="assets/libs/bootstrap/css/bootstrap.min.css" >
		<link rel="stylesheet" type="text/css" href="assets/libs/angular-bootstrap-datetimepicker/src/css/datetimepicker.css"/>
		<!-- Custom CSS -->
		<!-- <link rel="stylesheet" type="text/css" href="assets/css/project-animations.css"> -->
		<link rel="stylesheet" type="text/css" href="assets/libs/chosen/chosen.css">
		<link rel='stylesheet' type="text/css" href='assets/libs/textAngular-master/dist/textAngular.css'>
		<link rel="stylesheet" type="text/css" href="assets/css/style.css">

		<!-- Vendor JS -->
		<script src="assets/libs/jquery-3.1.1.min.js"></script>
		<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script> -->
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXPWW3UENffVUXSSnII0XYdjWgQIP1dBI" ></script>
		<script src="assets/libs/bootstrap/js/bootstrap.min.js"></script>
		<script src="assets/libs/chosen/chosen.jquery.min.js"></script>
		<script src="assets/libs/moment.js"></script>
		<script src="assets/libs/angular/angular.min.js" type="text/javascript"></script>
 		<script src="assets/libs/angular-chosen/dist/angular-chosen.min.js"></script>
		<script src="assets/libs/angular/angular-ui-router.min.js"></script>
		<script src="assets/libs/angular/angular-animate.min.js"></script>
		<!-- <script src="assets/libs/angular/angular-touch.min.js"></script> -->
		<script src="https://www.youtube.com/iframe_api"></script>
		<script src="assets/libs/angular-youtube-embed-master/dist/angular-youtube-embed.min.js"></script>
		<script src='assets/libs/textAngular-master/dist/textAngular-rangy.min.js'></script>
		<script src='assets/libs/textAngular-master/dist/textAngular-sanitize.min.js'></script>
		<script src='assets/libs/textAngular-master/dist/textAngular.min.js'></script>
		<script src="assets/libs/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
		<script src="assets/libs/angular-bootstrap-datetimepicker/src/js/datetimepicker.templates.js"></script>
		<script src="assets/libs/angular-ui-bootstrap/dist/ui-bootstrap.js" type="text/javascript"></script>
		<script src="assets/libs/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
		<script src="assets/libs/ng-file-upload-master/dist/ng-file-upload-shim.min.js"></script>
		<script src="assets/libs/ng-file-upload-master/dist/ng-file-upload.min.js"></script>
		<script src="assets/libs/ng-map.min.js"></script>

		<!-- Custom JS -->
		<script src="app/app.module.js" type="text/javascript"></script>
		<script src="app/app.core.js" type="text/javascript"></script>
		<script src="app/app.routes.js" type="text/javascript"></script>
			<!-- Shared -->
		<script src="app/shared/header.controllers.js" type="text/javascript"></script>
			<!-- Home -->
		<script src="app/components/home/home.controllers.js" type="text/javascript"></script>
		<script src="app/components/home/home.services.js" type="text/javascript"></script>
			<!-- Team -->
		<script src="app/components/team/team.controllers.js" type="text/javascript"></script>
		<script src="app/components/team/team.services.js" type="text/javascript"></script>
			<!-- Projects -->
		<script src="app/components/projects/projects.controllers.js" type="text/javascript"></script>
		<script src="app/components/projects/projects.services.js" type="text/javascript"></script>
			<!-- News -->
		<script src="app/components/news/news.controllers.js" type="text/javascript"></script>
		<script src="app/components/news/news.services.js" type="text/javascript"></script>
			<!-- User -->
		<script src="app/components/users/users.controllers.js" type="text/javascript"></script>
		<script src="app/components/users/users.services.js" type="text/javascript"></script>
			<!-- Profile -->
		<script src="app/components/profile/profile.controllers.js" type="text/javascript"></script>
		<script src="app/components/profile/profile.services.js" type="text/javascript"></script>
			<!-- Admin -->
		<script src="app/components/admin/admin.controllers.js" type="text/javascript"></script>
		<script src="app/components/admin/admin.services.js" type="text/javascript"></script>
			<!-- Publications -->
		<script src="app/components/publications/publications.controllers.js" type="text/javascript"></script>
		<script src="app/components/publications/publications.services.js" type="text/javascript"></script>
			<!-- Join us -->
		<script src="app/components/join-us/joinUs.controllers.js" type="text/javascript"></script>
		<script src="app/components/join-us/joinUs.services.js" type="text/javascript"></script>
			<!-- Widgets -->
		<script src="app/widgets/compare-password.directive.js" type="text/javascript"></script>
		<!-- <script src="app/widgets/prevent-default.directive.js" type="text/javascript"></script> -->
		<script src="app/widgets/stop-propagation.directive.js" type="text/javascript"></script>
		<script src="app/widgets/formate-date.directive.js" type="text/javascript"></script>
		<script src="app/widgets/scroll-events.directive.js" type="text/javascript"></script>
		<script src="app/widgets/scroll-to-block.directive.js" type="text/javascript"></script>
		<script src="app/widgets/show-more.directive.js" type="text/javascript"></script>

			<!-- Filters -->
		<script src="app/filters/email.filter.js" type="text/javascript"></script>
		<script src="app/filters/names.filter.js" type="text/javascript"></script>


	</head>
	<body scroll-events class="view-container" id='to-the-top'>
		<nav ng-include="'app/shared/header.html'" class="navbar-fixed-top navbar navbar-default" role="navigation"></nav>

		<ui-view class="view-frame"></ui-view>
	</body>

</html>
