<div class="fixed-menu text-center">
	<ul class="fixed-list f-size-14 list-inline">
		<li ng-show="vm.member.projects[0]"><a href="" scroll-to-block="'member-projects'">PROJECTS</a></li>
		<li ng-show="vm.member.publications.bookChapters[0] || vm.member.publications.journalPapers[0] || vm.member.publications.conferencePapers[0]"><a href="" scroll-to-block="'member-publications'">PUBLICATIONS</a></li>
		<li ng-show="vm.member.teachingCourses[0]"><a href="" scroll-to-block="'member-teachings'">TEACHING</a></li>
	</ul>
</div>
<div class="container text-center margin-top-110 min-height-70vh">
	<div class="row">
		<div class="users">
			<div class="col-md-3">
				<div class="padding-10 user-box">
					<div class="main-image">
						<div>
							<img ng-src="{{vm.member.dpUrl || '/assets/img/dummy_user.jpg'}}">
						</div>
						<span ng-show="vm.member.experience" class="{{vm.member.experienceStatus}}">{{vm.member.experience}} yrs</span>
					</div>
					<div class="social text-left f-size-16" ng-show="vm.member.contacts[0]">
						<h3 class="f-size-21 sub-heading">Contact:</h3>
						<hr>
						<ul class="list-unstyled">
							<li ng-repeat="contact in vm.member.contacts">
			         	<a ng-href="{{contact.attr + ':' + contact.value}}" target="_blank">
			            <i class="ion-ios-{{contact.type}}"></i>{{contact.value}}
		            </a>
			      	</li>
				    </ul>
					</div>
					<div class="social text-left f-size-16" ng-show="vm.member.memberships[0]">
						<h3 class="f-size-21 sub-heading">Membership:</h3>
						<hr>
						<ul class="membership">
							<li ng-repeat="membership in vm.member.memberships">
			         	<a ng-href="{{membership.link}}" target="_blank">
			            {{membership.value}}
		            </a>
			      	</li>
			      </ul>
			      <ul class="icons f-size-21 list-inline text-center">
							<li ng-repeat="socialLink in vm.member.socialLinks">
					      <a ng-href="{{socialLink.value}}" target="_blank">
									<i ng-hide="socialLink.type == 'researchGate' || socialLink.type == 'orcid'" class="ion-social-{{socialLink.type}} margin-0"></i>
									<img class="vertical-align-inherit" ng-if="socialLink.type == 'researchGate' || socialLink.type == 'orcid'" src="/assets/img/{{socialLink.type + vm.hover}}.png" height="18" width="auto" ng-mouseover="vm.hover = '_hover'" ng-mouseleave = "vm.hover = ''"/>
					      </a>
		      		</li>
		      	</ul>
					</div>
				</div>
			</div>
			<div class="col-md-9 text-left">
				<div class="row">
					<div class="prof-details col-md-9">
						<h2 class="f-size-32">{{vm.member.name.firstName}} {{vm.member.name.middleName}}</br>{{vm.member.name.lastName}}</h2>
						<h5 class="f-size-16">{{vm.member.profession}}</h5>
					</div>
					<div class="prof-cv col-md-3 text-right">
						<a class="f-size-29 lato-regular" ng-show="vm.member.cvUrl" ng-href="{{vm.member.cvUrl}}" target="_blank">CV</a>
						<div ng-show="vm.member.experienceStatus">
							<span class="f-size-16 lato-regular {{vm.member.experienceStatus}}">{{vm.member.experienceStatus}}</span>
						</div>
					</div>
				</div>
				<hr>
				<div ng-show="vm.member.researchInterests[0]">
					<h3 class="f-size-21 lato-regular">Research Interest:</h3>
			    <ul class="text-left res-areas padding-left-20">
						<li ng-repeat="interest in vm.member.researchInterests">{{interest.area}}</li>
	   			</ul>
      	</div>
    		<div ng-show="vm.member.projects[0]">
	      	<h3 class="content-heading f-size-21 lato-regular" id="member-projects">Projects</h3>
  				<ul class="project-list list-inline">
						<li ng-repeat="project in vm.member.projects">
							<a ng-href="#!/project/{{project._id}}" class="project-box">
								<h4 class="f-size-21 lato-light">{{project.title}}</h4>
								<h6 class="f-size-16 text-right">{{(project.date.from | date:'MMM, yyyy') +'-'+ (project.date.to | date:'MMM, yyyy')}}</h6>
							</a>
						</li>
					</ul>
				</div>
				<div ng-show="vm.member.publications.bookChapters[0] || vm.member.publications.journalPapers[0] || vm.member.publications.conferencePapers[0]">
					<h3 class="content-heading f-size-21 lato-regular" id="member-publications">Publications</h3>
					<div ng-if="vm.member.publications.bookChapters[0].type">
						<h4 class="f-size-21 sub-heading lato-regular">-- Book chapters</h4>
						<ul class="papers-list">
							<li ng-repeat="publication in vm.member.publications.bookChapters">
								<a ng-href="{{publication.doi}}" target="_blank">
		             {{publication.author_short | namesFormate}} ({{publication.year}}),
								 {{publication.title}}({{'Chapter ' + publication.chapter}}), in
								 <em>{{publication.booktitle}}</em>,
								 <span ng-repeat="editor in publication.editor_short">
									 {{editor}}
								 </span>(Ed.),
								 {{publication.publisher}}
		           </a>
							</li>
						</ul>
					</div>
					<div ng-if="vm.member.publications.journalPapers[0].type">
						<h4 class="f-size-21 sub-heading lato-regular">-- Journal papers</h4>
						<ul class="papers-list">
							<li ng-repeat="publication in vm.member.publications.journalPapers">
								<a ng-href="{{publication.doi}}" target="_blank">
									{{publication.author_short | namesFormate}} ({{publication.year}}),
								 {{publication.title}},
									<em>{{publication.journal}}</em>,
									<b>{{publication.volume}}</b>: {{publication.pages}}
		          	</a>
							</li>
						</ul>
					</div>
					<div ng-if="vm.member.publications.conferencePapers[0].type">
						<h4 class="f-size-21 sub-heading lato-regular">-- Conference papers</h4>
						<ul class="papers-list">
							<li ng-repeat="publication in vm.member.publications.conferencePapers">
								<a ng-href="{{publication.doi}}" target="_blank">
 								 {{publication.author_short | namesFormate}} ({{publication.year}}),
 								 {{publication.title}},
 								 <em>{{publication.booktitle}}</em>,
 								 {{publication.address}},
 								 {{publication.month}}
 		           </a>
						 </li>
						</ul>
					</div>
				</div>
				<div ng-show="vm.member.teachingCourses[0]">
					<h3 class="content-heading f-size-21 lato-regular" id="member-teachings">Teaching</h3>
					<div class="table-responsive">
						<table class="table table-bordered">
							<colgroup>
								<col class="col-xs-2">
								<col class="col-xs-6">
								<col class="col-xs-4">
							</colgroup>
							<thead>
								<tr>
									<th class="f-size-18 lato-regular">Course Code</th>
									<th class=" lato-regular f-size-18">Course Name</th>
									<th class=" f-size-18 lato-regular">Duration</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="teachingCourse in vm.member.teachingCourses">
									<td class="col-md-2">{{teachingCourse.code}}</td>
									<td class="col-md-6"><a ng-href="#{{teachingCourse.link}}">{{teachingCourse.name}}</a></td>
									<td class="col-md-4">{{teachingCourse.period}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<footer ng-include="'app/shared/footer.html'" class="f-size-14 text-center"></footer>
