<div class="container text-center nav-offset min-height-70vh">
	<div class="row">
	  <div class="col-md-12">
		<h2 class="mainheading f-size-29 padding-bottom-25">
			<span>MEET OUR TEAM</span>
		</h2>

		<!-- Professor In Charge -->
		<ul class="prof-in-charge list-inline text-center">
			<li class="user-box" ng-repeat="user in vm.team.professorInCharge | orderBy: 'hierarchy'">
				<div class="mot" ng-click="vm.memberPage(user._id)">
					<div>
						<img ng-src="{{user.dpUrl || '/assets/img/dummy_user.jpg'}}">
					</div>
					<div>
						<h3>{{user.displayName || (user.name.firstName + ' ' +  user.name.lastName)}}</h3>
						<h4>{{user.profession}}, {{user.department}}</h4>
						<hr>
						<a href="mailto:{{user.emailId}}" stop-propagation>{{user.emailId | emailFilter}}</a>
						<ul class="list-inline f-size-21">
							<li ng-repeat="socialLink in user.socialLinks">
				        <a ng-href="{{socialLink.value}}" target="_blank" stop-propagation>
									<i ng-hide="socialLink.type == 'researchGate' || socialLink.type == 'orcid'" class="ion-social-{{socialLink.type}}"></i>
									<img class="vertical-align-inherit" ng-if="socialLink.type == 'researchGate' || socialLink.type == 'orcid'" src="/assets/img/{{socialLink.type + vm.hover}}.png" height="18" width="auto" ng-mouseover="vm.hover = '_hover'" ng-mouseleave = "vm.hover = ''"/>
				        </a>
	      			</li>
	      		</ul>
					</div>
				</div>
				<span class="pull-right" ng-show="vm.isAdminLoggedIn()" prevent-default>
					<i class="ion-close" ng-click="vm.removeMember(user._id, user.profession, $index)"></i>
				</span>
				<div class="hierarchy-control" ng-show="vm.isAdminLoggedIn()">
					<input ng-model="user.hierarchy" />
					<button type="button" ng-click="vm.setHierarcy(user._id, user.hierarchy)" class="ion-ios-arrow-up"></button type="button">
				</div>
			</li>
		</ul>

		<hr class="rule" ng-show="vm.team.professorInCharge[0]">

		<!-- Associate Professors -->
		<ul class="list-inline text-center">
			<li class="user-box" ng-repeat="user in vm.team.associatedProfessors | orderBy: 'hierarchy'">
				<div class="mot" ng-click="vm.memberPage(user._id)">
					<div>
						<img ng-src="{{user.dpUrl || '/assets/img/dummy_user.jpg'}}">
					</div>
					<div>
						<h3>{{user.displayName || (user.name.firstName + ' ' +  user.name.lastName)}}</h3>
						<h4>{{user.profession}}, {{user.department}}</h4>
						<a href="mailto:{{user.emailId}}">{{user.emailId | emailFilter}}</a>
						<ul class="list-inline f-size-21">
							<li ng-repeat="socialLink in user.socialLinks">
				        <a ng-href="{{socialLink.value}}" target="_blank" stop-propagation>
									<i ng-hide="socialLink.type == 'researchGate' || socialLink.type == 'orcid'" class="ion-social-{{socialLink.type}}"></i>
									<img class="vertical-align-inherit" ng-if="socialLink.type == 'researchGate' || socialLink.type == 'orcid'" src="/assets/img/{{socialLink.type + vm.hover}}.png" height="18" width="auto" ng-mouseover="vm.hover = '_hover'" ng-mouseleave = "vm.hover = ''"/>
				        </a>
	      			</li>
	      		</ul>
					</div>
				</div>
				<span class="pull-right" ng-show="vm.isAdminLoggedIn()" prevent-default>
					<i class="ion-close" ng-click="vm.removeMember(user._id, user.profession, $index)"></i>
				</span>
				<div class="hierarchy-control" ng-show="vm.isAdminLoggedIn()">
					<input ng-model="user.hierarchy" />
					<button type="button" ng-click="vm.setHierarcy(user._id, user.hierarchy)" class="ion-ios-arrow-up"></button type="button">
				</div>
			</li>
		</ul>

		<hr class="rule" ng-show="vm.team.associatedProfessors[0]">

		<!-- Researchers -->
		<ul class="list-inline text-center">
			<li class="user-box" ng-repeat="user in vm.team.researchers | orderBy: 'hierarchy'">
				<div class="mot" ng-click="vm.memberPage(user._id)">
					<div>
						<img ng-src="{{user.dpUrl || '/assets/img/dummy_user.jpg'}}">
					</div>
					<div>
						<h3>{{user.displayName || (user.name.firstName + ' ' +  user.name.lastName)}}</h3>
						<h4>{{user.profession}}, {{user.department}}</h4>
						<a href="mailto:{{user.emailId}}">{{user.emailId | emailFilter}}</a>
						<ul class="list-inline f-size-21">
							<li ng-repeat="socialLink in user.socialLinks">
				        <a ng-href="{{socialLink.value}}" target="_blank" stop-propagation>
									<i ng-hide="socialLink.type == 'researchGate' || socialLink.type == 'orcid'" class="ion-social-{{socialLink.type}}"></i>
									<img class="vertical-align-inherit" ng-if="socialLink.type == 'researchGate' || socialLink.type == 'orcid'" src="/assets/img/{{socialLink.type + vm.hover}}.png" height="18" width="auto" ng-mouseover="vm.hover = '_hover'" ng-mouseleave = "vm.hover = ''"/>
				        </a>
	      			</li>
	      		</ul>
					</div>
				</div>
				<span class="pull-right" ng-show="vm.isAdminLoggedIn()" prevent-default>
					<i class="ion-close" ng-click="vm.removeMember(user._id, user.profession, $index)"></i>
				</span>
				<div class="hierarchy-control" ng-show="vm.isAdminLoggedIn()">
					<input ng-model="user.hierarchy" />
					<button type="button" ng-click="vm.setHierarcy(user._id, user.hierarchy)" class="ion-ios-arrow-up"></button type="button">
				</div>
			</li>
		</ul>
	</div>

	<!--Past Members-->
	<div class="past-mot col-md-12" ng-show="vm.team.pastMembers[0]">
		<h2 class="mainheading f-size-29 padding-bottom-15">
			<span>Past Members</span>
		</h2>
		<ul class="list-inline text-center">
			<li class="user-box" ng-repeat="user in vm.team.pastMembers | orderBy: 'hierarchy'">
				<div class="mot" ng-click="vm.memberPage(user._id)">
					<div>
						<img ng-src="{{user.dpUrl || '/assets/img/dummy_user.jpg'}}">
					</div>
					<div>
						<h3>{{user.displayName || (user.name.firstName + ' ' +  user.name.lastName)}}</h3>
						<h4>{{user.profession}}, {{user.department}}</h4>
						<a href="mailto:{{user.emailId}}">{{user.emailId | emailFilter}}</a>
						<ul class="list-inline f-size-21">
							<li ng-repeat="socialLink in user.socialLinks">
				        <a ng-href="{{socialLink.value}}" target="_blank" stop-propagation>
									<i ng-hide="socialLink.type == 'researchGate' || socialLink.type == 'orcid'" class="ion-social-{{socialLink.type}}"></i>
									<img class="vertical-align-inherit" ng-if="socialLink.type == 'researchGate' || socialLink.type == 'orcid'" src="/assets/img/{{socialLink.type + vm.hover}}.png" height="18" width="auto" ng-mouseover="vm.hover = '_hover'" ng-mouseleave = "vm.hover = ''"/>
				        </a>
	      			</li>
	      		</ul>
					</div>
				</div>
				<span class="pull-right" ng-show="vm.isAdminLoggedIn()" prevent-default>
					<i class="ion-close" ng-click="vm.removeMember(user._id, user.profession, $index)"></i>
				</span>
				<div class="hierarchy-control" ng-show="vm.isAdminLoggedIn()">
					<input ng-model="user.hierarchy" />
					<button type="button" ng-click="vm.setHierarcy(user._id, user.hierarchy)" class="ion-ios-arrow-up"></button type="button">
				</div>
			</li>
			<button ng-if="vm.team.pastMembers.length > 4" class="showbtn">SHOW MORE</button>
		</ul>
	 </div>

	 <!-- Admin controls -->
	 	<!-- Wait listed members -->
	 <div ng-show="vm.isAdminLoggedIn() && vm.wlMembers[0]">
		 <h2 class="mainheading f-size-29 padding-bottom-15">
 			<span>Wait listed Members</span>
 		</h2>
 		<ul class="list-inline text-center">
 			<li class="user-box" ng-repeat="user in vm.wlMembers track by $index">
 				<div class="mot cursor-initial">
 					<div>
 						<h3>{{user.name.firstName}} {{user.name.lastName}}</h3>
 						<h4>{{user.profession}}, {{user.department}}</h4>
 						<a href="mailto:{{user.emailId}}" stop-propagation>{{user.email}}</a>
 					</div>
 					<div class="wl-member-operations">
						<span ng-click="vm.authorizedMember(user._id, $index)"><i class="ion-checkmark"></i></span>
						<span ng-click="vm.unAuthorizedMember(user._id, $index)"><i class="ion-close"></i></span>
					</div>
 				</div>
 			</li>
 			<button ng-if="vm.team.pastMembers.length > 4" class="showbtn">SHOW MORE</button>
 		</ul>
	 </div>
	</div>
</div>

<footer ng-include="'app/shared/footer.html'" class="f-size-14 text-center"></footer>
