<div class="container text-center nav-offset">
	<div class="row">
	    <div class="col-md-12">
			<h2 class="f-size-35 lato-regular padding-bottom-25">
				<span>SSRR</span>
			</h2>
			<div class="news-box login univ-form" ng-controller="authController as vm">
				<h4 class="f-size-16 lato-regular">Reset your password</h4>
				<form name="resetForm" novalidate ng-submit="vm.resetPassword(resetForm.$valid)">
					<div class="form-group has-feedback"
						ng-class="{'has-error': resetForm.emailId.$invalid && !resetForm.emailId.$pristine, 'has-success': resetForm.emailId.$valid}">
						<input type="email" placeholder="Email" class="form-control f-size-16 lato-light" required name="emailId" ng-pattern="vm.emailFormat" ng-model="vm.resetObj.email">
						<span class="ion-email form-control-feedback"></span>
					</div>
					<div class="form-group has-feedback"
						ng-class="{'has-error': resetForm.password.$invalid && !resetForm.password.$pristine, 'has-success': resetForm.password.$valid}">
						<input type="password" placeholder="New Password" class="form-control f-size-16 lato-light" name="password" required ng-pattern="vm.passwordPattern" ng-minlength="8" ng-model="vm.resetObj.password">
						<span class="ion-locked form-control-feedback"></span>
					</div>
					<div class="form-group has-feedback"
						ng-class="{'has-error': resetForm.reTypePassword.$invalid && !resetForm.reTypePassword.$pristine, 'has-success': resetForm.reTypePassword.$valid}">
						<input type="password" placeholder="Retype Password" class="form-control f-size-16 lato-light" name="reTypePassword" required ng-pattern="vm.passwordPattern" ng-minlength="8" ng-model="vm.resetObj.reTypePassword" pw-check="vm.resetObj.password">
						<span class="ion-close form-control-feedback" ng-show="resetForm.reTypePassword.$error.pwCheck && !resetForm.reTypePassword.$valid"></span>
						<span class="ion-checkmark form-control-feedback" ng-show="!resetForm.reTypePassword.$error.pwCheck && resetForm.reTypePassword.$valid"></span>
					</div>
					<div class="remember text-left">
						<button type="submit" class="red-btn btn btn-default" ng-disable="!resetForm.$valid">Login</button>
					</div>
					<h3 class="f-size-16 lato-regular">-OR-</h3>
					<div class="text-left">
						<a ng-href="#!/login" class="f-size-16 lato-light">Already a member</a>
						<br>
						<a ng-href="#!/register" class="f-size-16 lato-light">Register as a new member</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
