<div class="fixed-menu text-center">
	<ul class="fixed-list f-size-14 list-inline">
		<li ng-show="vm.project.abstract"><a href="" scroll-to-block="'project-abstract'">ABSTRACT</a></li>
		<li ng-show="vm.project.content || vm.project.videoUrl"><a href="" scroll-to-block="'project-content'">CONTENT</a></li>
		<li ng-show="vm.project.publications.bookChapters[0] || vm.project.publications.journalPapers[0] || vm.project.publications.conferencePapers[0]"><a href="" scroll-to-block="'project-publications'">PUBLICATIONS</a></li>
	</ul>
</div>
<div class="container margin-top-110 min-height-70vh">
	<div class="row">
		<div class="project-page col-md-12">
			<div>
				<h1 class="f-size-32 lato-light">{{vm.project.title}}</h1>
				<h6 class="f-size-16">{{vm.project.displayDate}}</h6>
				<div ng-show="vm.project.members[0]">
					<!-- <h3 class="sub-heading f-size-21 margin-bottom-10">People involved:</h3> -->
			    <ul class="ppl-involved f-size-14 list-inline">
				   <li ng-repeat="member in vm.project.members">
						 <a ng-href="#!/member/{{member._id}}">
							 {{member.name.firstName}}
						 </a>
					 </li>
			    </ul>
				</div>
		  </div>

		  <div class="slideshow" ng-show="vm.project.slides[0]">
	   		<img class="img-responsive" src="http://www.solidbackgrounds.com/images/2560x1440/2560x1440-black-solid-color-background.jpg">
		    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
		        <div uib-slide ng-repeat="slide in vm.project.slides track by $index" index="$index">
		            <img ng-src="{{slide.imageUrl}}">
								<div class="carousel-caption" ng-show="slide.caption">
			            <!-- <h4 class="lato-thin f-size-32">{{slide.captionTitle}}</h4> -->
			            <p class="lato-thin f-size-18">{{slide.caption}}</p>
		            </div>
		        </div>
		    </div>
			</div>

			<div class="padding-top-25" ng-show="vm.project.abstract">
    		<h2 class="content-heading f-size-21 lato-regular" id="project-abstract">Abstract</h2>
    		<p>{{vm.project.abstract}}</p>
			</div>

			<div class="tab padding-top-25" id="project-content">
				<ul class="list-inline">
					<li class="content-heading cursor-pointer f-size-21 lato-regular" ng-show="vm.project.content" ng-class="{'active': vm.tabContent}" ng-click="vm.tabContent = true">Content</li>
					<li class="content-heading cursor-pointer f-size-21 lato-regular" ng-show="vm.project.videoUrl" ng-class="{'active': !vm.tabContent}" ng-click="vm.tabContent = false">Video</li>
				</ul>
				<div ng-show="vm.tabContent && vm.project.content">
					<ul class="list-unstyled">
						  <div>
								<div ng-bind-html="vm.project.content"></div>
							</div>
					</ul>
				</div>
				<div ng-hide="vm.tabContent && !vm.project.videoUrl" class="text-center">
					<youtube-video video-url="vm.project.videoUrl" ng-show="vm.project.videoUrl"></youtube-video>
				</div>
			</div>

		  <div class="publications padding-top-25" ng-show="vm.project.publications.bookChapters[0] || vm.project.publications.journalPapers[0] || vm.project.publications.conferencePapers[0]">
				<h2 class="content-heading f-size-21 lato-regular margin-top-0" id="project-publications">Publications</h2>

				<div ng-if="vm.project.publications.bookChapters[0].type">
					<h4 class="f-size-21 sub-heading lato-regular">-- Book chapters</h4>
					<ul class="papers-list">
						<li ng-repeat="publication in vm.project.publications.bookChapters">
							<a ng-href="{{publication.doi}}" target="_blank">
							 {{publication.author_short | namesFormate}} ({{publication.year}}),
							 {{publication.title}}({{'Chapter ' + publication.chapter}}), in
							 <em>{{publication.booktitle}}</em>,
							 <span ng-repeat="editor in publication.editor_short">
								 {{editor}}
							 </span>(Ed.),
							 {{publication.publisher}}
						 </a>
						</li>
					</ul>
				</div>
				<div ng-if="vm.project.publications.journalPapers[0].type">
					<h4 class="f-size-21 sub-heading lato-regular">-- Journal papers</h4>
					<ul class="papers-list">
						<li ng-repeat="publication in vm.project.publications.journalPapers">
							<a ng-href="{{publication.doi}}" target="_blank">
								{{publication.author_short | namesFormate}} ({{publication.year}}),
							 {{publication.title}},
								<em>{{publication.journal}}</em>,
								<b>{{publication.volume}}</b>: {{publication.pages}}
							</a>
						</li>
					</ul>
				</div>
				<div ng-if="vm.project.publications.conferencePapers[0].type">
					<h4 class="f-size-21 sub-heading lato-regular">-- Conference papers</h4>
					<ul class="papers-list">
						<li ng-repeat="publication in vm.project.publications.conferencePapers">
							<a ng-href="{{publication.doi}}" target="_blank">
 							{{publication.author_short | namesFormate}} ({{publication.year}}),
 							{{publication.title}},
 							<em>{{publication.booktitle}}</em>,
 							{{publication.address}},
 							{{publication.month}}
 						</a>
					 </li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<footer ng-include="'app/shared/footer.html'" class="f-size-14 text-center"></footer>
