<div class="form-group fix-search visible-sm visible-xs">
    <input type="text" class="form-control">
    <span class="ion-ios-search-strong form-control-feedback"></span>
</div>

<div class="container text-center nav-extra-top min-height-70vh">
	<div class="row">
		<h2 class="mainheading f-size-29 padding-bottom-25">
			<span>PROJECTS</span>
		</h2>
		<div class="search-box col-md-3 hidden-sm hidden-xs">
			<h4 class="f-size-21 lato-regular text-left">Search:</h4>
			<input class="project-box" ng-model="vm.queryProject">
			<h4 class="f-size-21 lato-regular text-left">Sort By:</h4>
      <select ng-model="vm.orderProject">
        <option value="-date.to">Date</option>
        <option value="title">Alphabetical</option>
      </select>
		</div>
		<div class="col-md-9 col-sm-12">
			<ul class="projects text-left list-unstyled">
				<li ng-repeat="project in vm.projects | orderBy: vm.orderProject track by project._id | filter:vm.queryProject" class="projects-list" index="$index">
					<div class="project-box cursor-pointer" ng-click="vm.projectPage(project._id)">
						<h2 class="f-size-29 lato-light">{{project.title}}</h2>
						<pre>{{project.abstract}} <span show-more="project._id">...see more</span></pre>
            <div ng-show="project.members[0]">
              <!-- <h3 class="sub-heading f-size-21">People involved:</h3> -->
  				    <ul class=" ppl-involved f-size-14 list-inline">
  				    	<li ng-repeat="member in project.members">
                  <a ng-href="#!/member/{{member._id}}">
                    {{member.displayName || member.name.firstName}}
                  </a>
                </li>
  				    </ul>
            </div>
					</div>
				</li>
			</ul>
		</div>
	</div>

  <!-- Admin controls -->
  <div ng-show="vm.isAdminLoggedIn()">
    <h2 class="lato-regular">Projects</h2>
    <div class="row news-box univ-form">
      <div class="col-md-12 form-edit text-left">
        <ol>
          <li ng-repeat="project in vm.projects track by $index" index="$index">
            <h6 class="f-size-18">
              {{project.title}}
              <span class="pull-right">
                <a>
                  <i class="ion-edit" ng-click="vm.updateProject(project, $index)" scroll-to-block="'project-edit'"></i>
                  <i class="ion-close" ng-click="vm.removeProject(project._id,$index)"></i>
                </a>
              </span>
            </h6>
          </li>
        </ol>
      </div>
      <div class="col-md-12 margin-top-25" id="project-edit">
        <form ng-submit="vm.addOrSaveProject()" name="project">
          <div class="form-group">
              <input type="Text" class="form-control" required ng-model="vm.project.title" placeholder="Title">
          </div>

          <div class="form-group">
              <textarea type="Text" rows="7" class="form-control resize-vertical" required ng-model="vm.project.abstract" placeholder="Abstract"></textarea>
          </div>

          <div class="form-group text-left chosen-select">
						<h3 class="content-heading f-size-21 lato-regular">Members related</h3>
            <select class="form-control" multiple chosen ng-model="vm.members" data-placeholder="Select projects" ng-options="member._id as member.name.firstName for member in vm.teamList">
						  <option value=""></option>
						</select>
					</div>

          <div class="text-left">
            <h3 class="content-heading f-size-21 lato-regular">Date</h3>
            <div class="form-group">
							<div class="dropdown">
								<a class="dropdown-toggle" id="calender1" role="button" data-toggle="dropdown" data-target="" href="">
									<div class="input-group">
                    <input type="text" class="form-control" data-ng-model="vm.project.date.from" formate-date format="yyyy-MM-dd" placeholder="From Date">
                    <span class="input-group-addon">
                      <i class="glyphicon glyphicon-calendar"></i>
                    </span>
									</div>
								</a>
								<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
									 <datetimepicker data-ng-model="vm.project.date.from" data-datetimepicker-config="{ dropdownSelector: '#calender1',  minView:'day' }"></datetimepicker>
								</ul>
							</div>
						</div>
            <div class="form-group">
							<div class="dropdown">
								<a class="dropdown-toggle" id="calender2" role="button" data-toggle="dropdown" data-target="" href="">
									<div class="input-group">
                    <input type="text" class="form-control" data-ng-model="vm.project.date.to" formate-date format="yyyy-MM-dd" placeholder="To Date">
                    <span class="input-group-addon">
                      <i class="glyphicon glyphicon-calendar"></i>
                    </span>
									</div>
								</a>
								<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
									 <datetimepicker data-ng-model="vm.project.date.to" data-datetimepicker-config="{ dropdownSelector: '#calender2',  minView:'day' }"></datetimepicker>
								</ul>
							</div>
						</div>
            <div class="form-group">
                <input type="Text" class="form-control" ng-model="vm.project.displayDate" placeholder="Display Date">
            </div>
          </div>

          <div class="text-left">
            <h3 class="content-heading f-size-21 lato-regular">Slides</h3>
            <ul class="list-inline">
              <li class="slides-thumnail" ng-repeat="(key, slide) in vm.project.slides track by $index">
                <div class="project-box">
                  <img ngf-thumbnail="slide.imageUrl" class="img-responsive" height="100" width="auto" />
                  <h5>{{slide.caption}}</h5>
                  <span>
    								<a>
    									<i class="ion-edit" ng-click="vm.updateSlide($index, slide)"></i>
    									<i class="ion-close" ng-click="vm.removeSlide(slide.imageUrl)"></i>
    								</a>
    							</span>
                </div>
              </li>
            </ul>
            <div class="form-group">
							<input type="text" class="form-control" name="caption" ng-model="vm.slide.caption" placeholder="Caption">
						</div>
            <div class="form-group">
  						<input class="f-size-16" type="file" name="file" ng-disabled="!vm.project.title" ng-model="vm.slide.image" accept="image/*" ngf-max-size="1MB" ngf-select ngf-model-invalid="errorFile">
  					</div>
            <div class="form-group">
							<img class="img-responsive thumbnail" ng-show="vm.slide.image || vm.slide.imageUrl" ngf-thumbnail="vm.slide.image || vm.slide.imageUrl">
							<button ng-click="vm.slide.image = null" ng-disabled="!vm.project.title" ng-show="vm.slide.image || vm.slide.imageUrl">Remove</button>
						</div>
            <button type="button" class="red-btn btn btn-default float-none" ng-click="vm.addSlide()">{{vm.slideType}}</button>
          </div>

          <div class="text-left">
            <h3 class="content-heading f-size-21 lato-regular">Youtube Video Url</h3>
            <div class="form-group">
  						<input type="Text" class="form-control" ng-model="vm.project.videoUrl" placeholder="Content Title">
  					</div>
          </div>

          <div class="text-left">
            <h3 class="content-heading f-size-21 lato-regular">Content</h3>
            <div class="margin-top-25">
              <div class="form-group">
                <text-angular ng-model="vm.project.content"></text-angular>
              </div>
            </div>
          </div>

          <button type="submit" class="red-btn btn btn-default">{{vm.type}}</button>
        </form>
      </div>
    </div>
  </div>
</div>

<footer ng-include="'app/shared/footer.html'" class="f-size-14 text-center"></footer>
