//background-color
@mixin background-color($color) {
  -webkit-background-color: $color;
  -moz-background-color: $color;
  -o-background-color: $color;
  -ms-background-color: $color;
  background-color: $color;
}

//Transition
@mixin transition($time-period,$easing){
  transition: all #{$time-period}s $easing 0s;
}  


// generic transform
@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}
  // rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}
  // scale
@mixin scale($scale) {
	 @include transform(scale($scale));
}
  // translate
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}
  // skew
@mixin skew ($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}
  //transform origin
@mixin transform-origin ($origin) {
  -moz-transform-origin: $origin;
  -o-transform-origin: $origin;
  -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
  transform-origin: $origin;
}

//box shadow
@mixin box-shadow($Xdir, $Ydir, $blur, $spread, $color, $shodow) {
  -webkit-box-shadow: $Xdir $Ydir $blur $spread $color $shodow;
  -moz-box-shadow: $Xdir $Ydir $blur $spread $color $shodow;
  -ms-box-shadow: $Xdir $Ydir $blur $spread $color $shodow;
  -o-box-shadow: $Xdir $Ydir $blur $spread $color $shodow;
  box-shadow: $Xdir $Ydir $blur $spread $color $shodow;
}

//border
@mixin border($thick,$type,$color) {
  -webkit-border: $thick $type $color;
  -moz-border: $thick $type $color;
  -o-border: $thick $type $color;
  -ms-border: $thick $type $color;
  border: $thick $type $color;
}
  //top
@mixin border-top($thick,$type,$color) {
  -webkit-border-top: $thick $type $color;
  -moz-border-top: $thick $type $color;
  -o-border-top: $thick $type $color;
  -ms-border-top: $thick $type $color;
  border-top: $thick $type $color;
}
  //bottom
@mixin border-bottom($thick,$type,$color) {
  -webkit-border-bottom: $thick $type $color;
  -moz-border-bottom: $thick $type $color;
  -o-border-bottom: $thick $type $color;
  -ms-border-bottom: $thick $type $color;
  border-bottom: $thick $type $color;
}
  //right
@mixin border-right($thick,$type,$color) {
  -webkit-border-right: $thick $type $color;
  -moz-border-right: $thick $type $color;
  -o-border-right: $thick $type $color;
  -ms-border-right: $thick $type $color;
  border-right: $thick $type $color;
}
  //left
@mixin border-left($thick,$type,$color) {
  -webkit-border-left: $thick $type $color;
  -moz-border-left: $thick $type $color;
  -o-border-left: $thick $type $color;
  -ms-border-left: $thick $type $color;
  border-left: $thick $type $color;
}
  //radius
@mixin border-radius($r1,$r2,$r3,$r4) {
  -webkit-border-radius: $r1 $r2 $r3 $r4;
  -moz-border-radius: $r1 $r2 $r3 $r4;
  -o-border-radius: $r1 $r2 $r3 $r4;
  -ms-border-radius: $r1 $r2 $r3 $r4;
  border-radius: $r1 $r2 $r3 $r4;
}
