/* Custom Fonts*/
@font-face {
  font-family: "lato-regular";
  src: url("../fonts/Lato-Regular.ttf"); }
@font-face {
  font-family: "lato-light";
  src: url("../fonts/Lato-Light.ttf"); }
@font-face {
  font-family: "lato-thin";
  src: url("../fonts/Lato-Thin.ttf"); }
/* Import libraries */
/* All Variables */
/* All colours */
/* Text */
/* Background */
/* Border */
/* Body */
body {
  font-family: lato-light;
  font-size: 21px;
  color: #333;
  -webkit-background-color: #fafafa;
  -moz-background-color: #fafafa;
  -o-background-color: #fafafa;
  -ms-background-color: #fafafa;
  background-color: #fafafa; }
  body p {
    margin: 0px; }

ul {
  margin-left: 0px !important; }

a:hover {
  transition: all 0.25s ease 0s; }

/* Navigation Menu */
.brand-name {
  color: #dd4b39;
  font-size: 20px;
  line-height: 20px; }

.navbar-header {
  width: 428px !important; }

@media (max-width: 768px) {
  .navbar-header {
    width: inherit !important; } }
@media (max-width: 560px) {
  .brand-name {
    font-size: 16px;
    line-height: 16px; } }
@media (max-width: 475px) {
  .brand-name {
    display: none; } }
.home-carousel .carousel-indicators {
  z-index: 0 !important; }
.home-carousel .carousel-inner img {
  height: 100%;
  max-height: 406px;
  max-width: 100%;
  min-height: 406px; }
.home-carousel .carousel-caption {
  padding: 0;
  bottom: 5px; }
  .home-carousel .carousel-caption > p {
    display: inline-block;
    padding: 0 10px;
    -webkit-background-color: rgba(51, 51, 51, 0.6);
    -moz-background-color: rgba(51, 51, 51, 0.6);
    -o-background-color: rgba(51, 51, 51, 0.6);
    -ms-background-color: rgba(51, 51, 51, 0.6);
    background-color: rgba(51, 51, 51, 0.6);
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -o-border-radius: 2px 2px 2px 2px;
    -ms-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px; }

.navbar-default {
  background-color: #fff; }

.navbar-offset {
  margin-top: 60px;
  padding: 0px; }

.nav-offset {
  margin-top: 110px; }

.navbar {
  margin: 0px;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  -o-border-radius: 0 0 0 0;
  -ms-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  -webkit-border: 0 solid transparent;
  -moz-border: 0 solid transparent;
  -o-border: 0 solid transparent;
  -ms-border: 0 solid transparent;
  border: 0 solid transparent;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15); }

.navbar-brand {
  height: initial;
  padding: 10px 0px;
  margin: 0px !important; }

.navbar-default .navbar-nav.main > li > a {
  font-family: lato-regular;
  color: #8f8f8f;
  padding: 20px 15px;
  transition: all 0.25s ease 0s; }
  .navbar-default .navbar-nav.main > li > a > span {
    position: relative; }
    .navbar-default .navbar-nav.main > li > a > span:after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 50%;
      -moz-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      height: 2px;
      width: 0;
      -webkit-background-color: #dd4b39;
      -moz-background-color: #dd4b39;
      -o-background-color: #dd4b39;
      -ms-background-color: #dd4b39;
      background-color: #dd4b39;
      transition: all 0.25s ease 0s; }
  .navbar-default .navbar-nav.main > li > a:hover {
    color: #333;
    transition: all 0.25s ease 0s; }
    .navbar-default .navbar-nav.main > li > a:hover > span:after {
      width: 100%;
      transition: all 0.25s ease 0s; }

.navbar-default .navbar-nav.main > li > a.active {
  color: #333; }
  .navbar-default .navbar-nav.main > li > a.active > span:after {
    width: 100%; }

.navbar-default .navbar-nav > li > a.active {
  color: #333; }

.navbar-toggle {
  margin-top: 13px; }

.nav-extra-top {
  margin-top: 110px; }

.admin-controls {
  position: fixed;
  left: 0;
  top: 60px;
  min-height: 34px; }
  .admin-controls > ul {
    margin: 0 !important; }
    .admin-controls > ul > li {
      -webkit-background-color: #c74433;
      -moz-background-color: #c74433;
      -o-background-color: #c74433;
      -ms-background-color: #c74433;
      background-color: #c74433;
      transition: all 0.25s ease 0s;
      color: #fff;
      line-height: 34px;
      font-size: 16px;
      padding: 0 10px;
      cursor: pointer; }
      .admin-controls > ul > li:hover {
        -webkit-background-color: #bc4031;
        -moz-background-color: #bc4031;
        -o-background-color: #bc4031;
        -ms-background-color: #bc4031;
        background-color: #bc4031;
        transition: all 0.25s ease 0s; }
      .admin-controls > ul > li > a {
        padding: 0;
        line-height: 34px;
        color: #fff !important; }
        .admin-controls > ul > li > a:hover {
          -webkit-background-color: #bc4031;
          -moz-background-color: #bc4031;
          -o-background-color: #bc4031;
          -ms-background-color: #bc4031;
          background-color: #bc4031;
          transition: all 0.25s ease 0s; }

.to-the-top {
  text-decoration: none;
  text-align: center;
  position: fixed;
  bottom: 20px;
  right: 15px;
  display: inline-block;
  width: 40px;
  opacity: 0;
  line-height: 40px;
  -webkit-border-radius: 50% 50% 50% 50%;
  -moz-border-radius: 50% 50% 50% 50%;
  -o-border-radius: 50% 50% 50% 50%;
  -ms-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
  -webkit-background-color: #c74433;
  -moz-background-color: #c74433;
  -o-background-color: #c74433;
  -ms-background-color: #c74433;
  background-color: #c74433;
  transition: all 0.25s ease 0s;
  color: #f4d9d6; }
  .to-the-top:hover {
    background-color: #bc4031;
    color: #fff; }

.to-the-top.active {
  opacity: 1;
  transition: all 0.25s ease 0s; }

.user-controls {
  padding: 0;
  margin: 13px 0;
  overflow: hidden;
  -webkit-border: 2px solid #8f8f8f;
  -moz-border: 2px solid #8f8f8f;
  -o-border: 2px solid #8f8f8f;
  -ms-border: 2px solid #8f8f8f;
  border: 2px solid #8f8f8f;
  transition: all 0.25s ease 0s;
  -webkit-background-color: tranparent;
  -moz-background-color: tranparent;
  -o-background-color: tranparent;
  -ms-background-color: tranparent;
  background-color: tranparent;
  -webkit-border-radius: 50% 50% 50% 50%;
  -moz-border-radius: 50% 50% 50% 50%;
  -o-border-radius: 50% 50% 50% 50%;
  -ms-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%; }

.user-controls.active {
  -webkit-border: 2px solid #dd4b39;
  -moz-border: 2px solid #dd4b39;
  -o-border: 2px solid #dd4b39;
  -ms-border: 2px solid #dd4b39;
  border: 2px solid #dd4b39;
  transition: all 0.25s ease 0s; }

@media (max-width: 992px) {
  .nav-extra-top {
    margin-top: 144px; } }
@media (max-width: 768px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    -webkit-border: 0 solid transparent;
    -moz-border: 0 solid transparent;
    -o-border: 0 solid transparent;
    -ms-border: 0 solid transparent;
    border: 0 solid transparent;
    border-radius: 0px;
    background-color: #222d32;
    padding: 0px; }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #b8c7ce;
      padding: 10px 20px; }
      .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #fff;
        background-color: #1e282c; } }
@media (min-width: 1300px) {
  .banner {
    max-width: 1300px;
    margin: 60px auto 0px; } }
/* Home */
/* About Us */
pre.about-us-content {
  font-family: lato-light;
  font-size: 21px;
  padding: 0;
  white-space: pre-line;
  color: #333;
  word-break: normal;
  -webkit-border: 0 solid transparent;
  -moz-border: 0 solid transparent;
  -o-border: 0 solid transparent;
  -ms-border: 0 solid transparent;
  border: 0 solid transparent;
  -webkit-background-color: transparent;
  -moz-background-color: transparent;
  -o-background-color: transparent;
  -ms-background-color: transparent;
  background-color: transparent; }

/* Upcoming Events */
.newsb {
  position: fixed;
  top: 50%;
  width: 300px;
  transform: translate(0, -50%);
  right: -300px;
  z-index: 1;
  max-height: 400px;
  border-radius: 0px 0px 0px 3px !important;
  transition: all 0.25s ease 0s; }
  .newsb ul {
    margin-top: 10px; }
    .newsb ul > li {
      padding: 10px 0px; }
      .newsb ul > li > div img {
        float: left;
        margin-top: 5px; }
      .newsb ul > li > div > div {
        margin-left: 52px; }
        .newsb ul > li > div > div h5 {
          font-family: lato-light;
          color: #333; }
        .newsb ul > li > div > div h6 {
          font-family: lato-light;
          color: #999; }

.notification {
  background-color: #fff;
  position: absolute;
  top: -1px;
  width: 70px;
  height: 70px;
  left: -70px;
  border-radius: 3px 0 0 3px;
  -webkit-border: 1px solid #e6e6e6;
  -moz-border: 1px solid #e6e6e6;
  -o-border: 1px solid #e6e6e6;
  -ms-border: 1px solid #e6e6e6;
  border: 1px solid #e6e6e6;
  border-right: none;
  -webkit-box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.1); }
  .notification span i {
    font-size: 50px; }
  .notification span span {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #dd4b39;
    height: 18px;
    width: 18px;
    font-size: 12px;
    color: #fff;
    border-radius: 3px; }

@media (max-width: 768px) {
  .newsb {
    margin: 25px auto 0px; } }
/* Research Areas */
.research-areas {
  display: inline-block;
  width: 100%;
  padding: 0px;
  margin-bottom: 0px; }
  .research-areas li {
    width: 33.33333%;
    float: left; }

@media (max-width: 700px) {
  .research-areas {
    padding-left: 20px; }
    .research-areas li {
      width: inherit;
      float: none; } }
.res-areas {
  display: inline-block;
  width: 100%;
  padding: 0px;
  margin-bottom: 0px; }
  .res-areas li {
    width: 50%;
    float: left;
    padding-right: 30px; }

@media (max-width: 700px) {
  .res-areas {
    padding-left: 20px; }
    .res-areas li {
      width: inherit;
      float: none; } }
/* Address */
.address p {
  margin-left: 10px; }
.address a {
  color: #8f8f8f; }
  .address a:hover {
    text-decoration: none;
    color: #333; }

.map {
  max-height: 200px;
  position: relative;
  margin: 0px auto; }

a.directions {
  position: absolute;
  text-decoration: none;
  text-align: center;
  top: 10px;
  right: 20px;
  color: #565656;
  font-family: Roboto,Arial,sans-serif;
  -moz-user-select: none;
  font-size: 11px;
  -webkit-background-color: #fff;
  -moz-background-color: #fff;
  -o-background-color: #fff;
  -ms-background-color: #fff;
  background-color: #fff;
  padding: 8px;
  -webkit-border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  -o-border-radius: 2px 2px 2px 2px;
  -ms-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.3); }

/*Home ends*/
/* Team */
.li-padding-5 > li {
  padding: 5px 2.5px; }

.prof-in-charge {
  padding-bottom: 5px; }
  .prof-in-charge > li {
    padding: 0px; }
  .prof-in-charge > h4 {
    font-family: lato-light;
    font-size: 16px;
    color: #666;
    margin-top: 10px;
    margin-bottom: 5px;
    overflow-wrap: break-word; }

.mot {
  width: 230px; }
  .mot > div:first-child > img {
    height: 287.5px;
    width: auto;
    left: 50%;
    position: relative;
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  .mot > div:last-child {
    padding: 10px; }
    .mot > div:last-child > h3 {
      margin: 0px;
      font-family: lato-light;
      font-size: 21px;
      color: #333; }
    .mot > div:last-child > h4 {
      font-family: lato-light;
      font-size: 16px;
      color: #666;
      margin-top: 10px;
      margin-bottom: 5px; }
    .mot > div:last-child > h6 {
      font-family: lato-light;
      font-size: 16px;
      color: #666;
      margin: 0px; }
    .mot > div:last-child > hr {
      height: 3px;
      width: 25%;
      background-color: #c74433;
      margin-top: 5px;
      margin-bottom: 0px; }
    .mot > div:last-child > a {
      text-decoration: none;
      font-family: lato-light;
      font-size: 16px;
      color: #8f8f8f; }
      .mot > div:last-child > a:hover {
        color: #333; }
    .mot > div:last-child ul {
      margin-top: 15px;
      height: 30px; }
      .mot > div:last-child ul li a {
        color: #8f8f8f; }
        .mot > div:last-child ul li a:hover {
          color: #333; }

.past-mot h2 {
  padding-top: 15px; }
.past-mot li {
  padding: 10px 2.5px;
  padding-bottom: 0px; }

/* Horizontal rule */
.rule {
  max-width: 400px;
  color: #e6e6e6; }

/* button */
.showbtn {
  padding: 3.5px 0px;
  margin-top: -5px;
  width: 100%;
  border: none;
  color: #f4d9d6;
  transition: all 0.25s ease 0s;
  background: -webkit-linear-gradient(transparent, rgba(199, 68, 51, 0.7), #c74433);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(transparent, rgba(199, 68, 51, 0.7), #c74433);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(transparent, rgba(199, 68, 51, 0.7), #c74433);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(transparent, rgba(199, 68, 51, 0.7), #c74433);
  /* Standard syntax (must be last) */ }
  .showbtn:focus {
    -webkit-border: 0 solid transparent;
    -moz-border: 0 solid transparent;
    -o-border: 0 solid transparent;
    -ms-border: 0 solid transparent;
    border: 0 solid transparent; }
  .showbtn:hover {
    color: #fff;
    background: -webkit-linear-gradient(transparent, rgba(188, 64, 49, 0.7), #bc4031);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(transparent, rgba(188, 64, 49, 0.7), #bc4031);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(transparent, rgba(188, 64, 49, 0.7), #bc4031);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(transparent, rgba(188, 64, 49, 0.7), #bc4031);
    /* Standard syntax (must be last) */ }

.wl-member-operations {
  padding: 0 !important;
  display: inline-block;
  width: 100%;
  vertical-align: bottom; }
  .wl-member-operations span {
    width: 50%;
    display: inline-block;
    float: left;
    padding: 10px;
    color: #fff;
    cursor: pointer; }
    .wl-member-operations span:first-child {
      -webkit-background-color: #00a65a;
      -moz-background-color: #00a65a;
      -o-background-color: #00a65a;
      -ms-background-color: #00a65a;
      background-color: #00a65a;
      transition: all 0.25s ease 0s; }
      .wl-member-operations span:first-child:hover {
        -webkit-background-color: #008D4D;
        -moz-background-color: #008D4D;
        -o-background-color: #008D4D;
        -ms-background-color: #008D4D;
        background-color: #008D4D;
        transition: all 0.25s ease 0s; }
    .wl-member-operations span:last-child {
      -webkit-background-color: #c74433;
      -moz-background-color: #c74433;
      -o-background-color: #c74433;
      -ms-background-color: #c74433;
      background-color: #c74433;
      transition: all 0.25s ease 0s; }
      .wl-member-operations span:last-child:hover {
        -webkit-background-color: #bc4031;
        -moz-background-color: #bc4031;
        -o-background-color: #bc4031;
        -ms-background-color: #bc4031;
        background-color: #bc4031;
        transition: all 0.25s ease 0s; }

.hierarchy-control {
  position: absolute;
  top: 10px;
  display: inline-block;
  left: 10px; }
  .hierarchy-control > input {
    height: 20px;
    width: 30px;
    -webkit-background-color: #fff;
    -moz-background-color: #fff;
    -o-background-color: #fff;
    -ms-background-color: #fff;
    background-color: #fff;
    -webkit-border: 0 solid transparent;
    -moz-border: 0 solid transparent;
    -o-border: 0 solid transparent;
    -ms-border: 0 solid transparent;
    border: 0 solid transparent;
    text-align: center;
    font-size: 16px;
    -webkit-box-shadow: 0 0 5px 0 rgba(51, 51, 51, 0.5) inset;
    -moz-box-shadow: 0 0 5px 0 rgba(51, 51, 51, 0.5) inset;
    -ms-box-shadow: 0 0 5px 0 rgba(51, 51, 51, 0.5) inset;
    -o-box-shadow: 0 0 5px 0 rgba(51, 51, 51, 0.5) inset;
    box-shadow: 0 0 5px 0 rgba(51, 51, 51, 0.5) inset;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -o-border-radius: 3px 3px 3px 3px;
    -ms-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px; }
  .hierarchy-control > button {
    color: #f4d9d6;
    -webkit-background-color: #c74433;
    -moz-background-color: #c74433;
    -o-background-color: #c74433;
    -ms-background-color: #c74433;
    background-color: #c74433;
    padding: 0 4px;
    line-height: 20px;
    -webkit-border: 0 solid transparent;
    -moz-border: 0 solid transparent;
    -o-border: 0 solid transparent;
    -ms-border: 0 solid transparent;
    border: 0 solid transparent;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -o-border-radius: 4px 4px 4px 4px;
    -ms-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    transition: all 0.25s ease 0s; }
    .hierarchy-control > button:hover {
      color: #fff;
      -webkit-background-color: #bc4031;
      -moz-background-color: #bc4031;
      -o-background-color: #bc4031;
      -ms-background-color: #bc4031;
      background-color: #bc4031;
      transition: all 0.25s ease 0s; }

/* Team ends */
/* Project */
/* sidebar */
.search-box {
  -webkit-border-right: 1px solid #e6e6e6;
  -moz-border-right: 1px solid #e6e6e6;
  -o-border-right: 1px solid #e6e6e6;
  -ms-border-right: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6; }
  .search-box input {
    width: 100%;
    padding: 4px;
    height: 34px;
    color: #8f8f8f; }
  .search-box select {
    width: 100%;
    height: 34px;
    color: #8f8f8f;
    padding: 0px; }
  .search-box > h4 {
    margin-top: 10px;
    color: #646464; }

.fix-search {
  z-index: 1;
  position: fixed;
  top: 60px;
  width: 100%;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15); }
  .fix-search input {
    border-radius: 0px;
    -webkit-border: 1px solid #e6e6e6;
    -moz-border: 1px solid #e6e6e6;
    -o-border: 1px solid #e6e6e6;
    -ms-border: 1px solid #e6e6e6;
    border: 1px solid #e6e6e6; }

/* Projects Desc */
.projects li > div {
  margin-bottom: 10px; }
.projects h2 {
  color: #dd4b39;
  margin-top: 0px;
  margin-bottom: 15px; }
.projects h3 {
  padding: 10px 0px; }
.projects h6 {
  color: #999; }

.ppl-involved li a {
  border-radius: 3px;
  display: inline-block;
  padding: 6px 15px;
  background-color: #c74433;
  text-decoration: none;
  color: #f4d9d6; }
  .ppl-involved li a:hover {
    color: #fff;
    background-color: #bc4031; }

.slides-thumnail {
  width: 25%; }
  .slides-thumnail > div {
    padding: 0 !important;
    position: relative; }
    .slides-thumnail > div > img {
      height: 100px;
      margin: 0 auto; }
    .slides-thumnail > div > h5 {
      padding: 0 10px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      min-height: 15px; }
    .slides-thumnail > div > span {
      position: absolute;
      top: 0;
      right: 0;
      -webkit-background-color: rgba(51, 51, 51, 0.5);
      -moz-background-color: rgba(51, 51, 51, 0.5);
      -o-background-color: rgba(51, 51, 51, 0.5);
      -ms-background-color: rgba(51, 51, 51, 0.5);
      background-color: rgba(51, 51, 51, 0.5);
      padding: 0 5px; }
      .slides-thumnail > div > span a {
        font-size: 16px;
        color: #fff; }
        .slides-thumnail > div > span a i {
          padding: 0 5px; }

/* Project animation */
.projects-list.ng-enter,
.projects-list.ng-leave,
.projects-list.ng-move {
  transition: 0.5s linear all; }

.projects-list.ng-enter,
.projects-list.ng-move {
  height: 0;
  opacity: 0;
  overflow: hidden; }

.projects-list.ng-enter.ng-enter-active,
.projects-list.ng-move.ng-move-active {
  height: initial;
  opacity: 1; }

.projects-list.ng-leave {
  opacity: 1;
  overflow: hidden; }

.projects-list.ng-leave.ng-leave-active {
  height: 0;
  opacity: 0;
  padding-bottom: 0;
  padding-top: 0; }

/* News */
.news > ul {
  margin-top: 10px;
  display: inline-block;
  width: 100%; }
  .news > ul > li {
    width: 33.33%;
    float: left;
    height: 45px; }
    .news > ul > li > a {
      display: inline-block;
      width: 100%;
      text-decoration: none;
      -moz-transform: scale(1);
      -o-transform: scale(1);
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
      transition: all 0.25s ease 0s; }
      .news > ul > li > a:hover {
        -moz-transform: scale(1.02);
        -o-transform: scale(1.02);
        -ms-transform: scale(1.02);
        -webkit-transform: scale(1.02);
        transform: scale(1.02);
        transition: all 0.25s ease 0s; }

@media (max-width: 768px) {
  .news > ul {
    margin-top: 10px;
    display: inline-block;
    width: 100%; }
    .news > ul > li {
      width: 100%;
      float: left; } }
.events {
  margin-left: 52px; }
  .events h5 {
    font-family: lato-light;
    color: #333;
    margin-top: 0; }
  .events h6 {
    margin-bottom: 0;
    font-family: lato-light;
    color: #999; }

.news-sidebar hr {
  margin: 0px;
  padding: 0px; }
.news-sidebar h4 {
  font-family: lato-light;
  font-size: 18px;
  color: #323232;
  margin: 0px;
  padding: 10px 0px; }
.news-sidebar h5 {
  font-family: lato-light;
  font-size: 14px;
  color: #323232;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 5px; }
.news-sidebar h6 {
  font-family: lato-light;
  font-size: 14px;
  color: #8c8c8c;
  margin: 0px; }

/* News page */
.news-page > h5 {
  color: #666; }
.news-page > div.authors {
  display: inline-block;
  -webkit-border: 1px solid #e6e6e6;
  -moz-border: 1px solid #e6e6e6;
  -o-border: 1px solid #e6e6e6;
  -ms-border: 1px solid #e6e6e6;
  border: 1px solid #e6e6e6;
  -webkit-background-color: #fff;
  -moz-background-color: #fff;
  -o-background-color: #fff;
  -ms-background-color: #fff;
  background-color: #fff;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -o-border-radius: 3px 3px 3px 3px;
  -ms-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px; }
  .news-page > div.authors i {
    font-size: 30px;
    width: 40px;
    line-height: 40px;
    -webkit-border-right: 1px solid #e6e6e6;
    -moz-border-right: 1px solid #e6e6e6;
    -o-border-right: 1px solid #e6e6e6;
    -ms-border-right: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6; }
  .news-page > div.authors span {
    margin: 5px;
    color: #666;
    display: inline-block; }
.news-page hr {
  max-width: 400px;
  margin: 0 auto; }
.news-page hr.red-flag {
  position: relative; }
  .news-page hr.red-flag:after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    height: 3px;
    width: 80px;
    -webkit-background-color: #dd4b39;
    -moz-background-color: #dd4b39;
    -o-background-color: #dd4b39;
    -ms-background-color: #dd4b39;
    background-color: #dd4b39; }
.news-page pre {
  font-family: lato-light;
  font-size: 21px;
  padding: 0;
  white-space: pre-line;
  color: #333;
  word-break: normal;
  -webkit-border: 0 solid transparent;
  -moz-border: 0 solid transparent;
  -o-border: 0 solid transparent;
  -ms-border: 0 solid transparent;
  border: 0 solid transparent;
  -webkit-background-color: transparent;
  -moz-background-color: transparent;
  -o-background-color: transparent;
  -ms-background-color: transparent;
  background-color: transparent; }

.news-image {
  cursor: pointer;
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: all 0.25s ease 0s; }
  .news-image:hover {
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    transition: all 0.25s ease 0s; }

/* Gallery */
.gallery {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-background-color: rgba(51, 51, 51, 0.7);
  -moz-background-color: rgba(51, 51, 51, 0.7);
  -o-background-color: rgba(51, 51, 51, 0.7);
  -ms-background-color: rgba(51, 51, 51, 0.7);
  background-color: rgba(51, 51, 51, 0.7);
  z-index: -1;
  opacity: 0;
  -moz-transform: scale(0.6);
  -o-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -webkit-transform: scale(0.6);
  transform: scale(0.6); }
  .gallery > i {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 40px;
    line-height: 40px;
    color: #fff;
    cursor: pointer;
    opacity: 0.6;
    -webkit-background-color: rgba(51, 51, 51, 0.6);
    -moz-background-color: rgba(51, 51, 51, 0.6);
    -o-background-color: rgba(51, 51, 51, 0.6);
    -ms-background-color: rgba(51, 51, 51, 0.6);
    background-color: rgba(51, 51, 51, 0.6);
    transition: all 0.2s linear 0s;
    display: inline-block;
    padding: 15px 20px; }
    .gallery > i:hover {
      opacity: 1;
      transition: all 0.2s linear 0s; }

.gallery.active {
  opacity: 1;
  z-index: 10000;
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1); }

a.arrow {
  display: block;
  font-size: 50px;
  text-decoration: none;
  color: #fff;
  position: absolute;
  top: 50%;
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  z-index: 5; }

a.arrow.prev {
  left: 50px;
  opacity: 0.6;
  transition: all 0.2s linear 0s; }
  a.arrow.prev:hover {
    opacity: 1; }

a.arrow.next {
  opacity: 0.6;
  right: 50px;
  transition: all 0.2s linear 0s; }
  a.arrow.next:hover {
    opacity: 1; }

.gallery-nav {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  text-align: center;
  max-width: 1200px;
  overflow-y: hidden;
  overflow-x: scroll;
  z-index: 5;
  margin-bottom: 20px; }
  .gallery-nav > li {
    -webkit-border: 2px solid #8f8f8f;
    -moz-border: 2px solid #8f8f8f;
    -o-border: 2px solid #8f8f8f;
    -ms-border: 2px solid #8f8f8f;
    border: 2px solid #8f8f8f;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -o-border-radius: 3px 3px 3px 3px;
    -ms-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    position: relative;
    transition: all 0.25s ease 0s; }
    .gallery-nav > li:hover {
      -webkit-border: 2px solid #dd4b39;
      -moz-border: 2px solid #dd4b39;
      -o-border: 2px solid #dd4b39;
      -ms-border: 2px solid #dd4b39;
      border: 2px solid #dd4b39;
      transition: all 0.25s ease 0s; }
    .gallery-nav > li img {
      height: 40px; }
  .gallery-nav > li.active {
    -webkit-border: 2px solid #dd4b39;
    -moz-border: 2px solid #dd4b39;
    -o-border: 2px solid #dd4b39;
    -ms-border: 2px solid #dd4b39;
    border: 2px solid #dd4b39; }

.news-slide {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0; }
  .news-slide > img {
    max-height: 100vh;
    max-width: 100vh;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .news-slide > h5 {
    position: absolute;
    bottom: 80px;
    display: inline-block;
    padding: 0 10px;
    color: #fff;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    -webkit-background-color: rgba(51, 51, 51, 0.6);
    -moz-background-color: rgba(51, 51, 51, 0.6);
    -o-background-color: rgba(51, 51, 51, 0.6);
    -ms-background-color: rgba(51, 51, 51, 0.6);
    background-color: rgba(51, 51, 51, 0.6);
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -o-border-radius: 2px 2px 2px 2px;
    -ms-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    margin: 0 15px; }

.news-slide.ng-hide-add {
  opacity: 1;
  transition: all 0.25s ease 0s; }

.news-slide.ng-hide-add.ng-hide-add-active {
  opacity: 0; }

.news-slide.ng-hide-remove {
  display: block !important;
  opacity: 0;
  transition: all 0.25s ease 0s; }

.news-slide, .news-slide.ng-hide-remove.ng-hide-remove-active {
  opacity: 1; }

/* Individual User Page */
.main-image {
  position: relative;
  display: inline-block;
  margin: 20px 0px; }
  .main-image > div {
    height: 150px;
    width: 150px;
    -webkit-border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    -o-border-radius: 50% 50% 50% 50%;
    -ms-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    overflow: hidden; }
    .main-image > div img {
      width: 100%;
      position: relative;
      left: 50%;
      -moz-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0); }
  .main-image span {
    font-size: 12px;
    -webkit-background-color: #fff;
    -moz-background-color: #fff;
    -o-background-color: #fff;
    -ms-background-color: #fff;
    background-color: #fff;
    color: white;
    line-height: 40px;
    position: absolute;
    -webkit-border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    -o-border-radius: 50% 50% 50% 50%;
    -ms-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    text-align: center;
    height: 40px;
    width: 40px;
    right: 0px;
    bottom: 0px; }
  .main-image span.CURRENT {
    -webkit-background-color: #00a65a;
    -moz-background-color: #00a65a;
    -o-background-color: #00a65a;
    -ms-background-color: #00a65a;
    background-color: #00a65a; }
  .main-image span.PAST {
    -webkit-background-color: #FDB657;
    -moz-background-color: #FDB657;
    -o-background-color: #FDB657;
    -ms-background-color: #FDB657;
    background-color: #FDB657; }
  .main-image > button {
    position: absolute;
    top: 0;
    z-index: 1;
    left: 0;
    height: 150px;
    width: 150px;
    -webkit-border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    -o-border-radius: 50% 50% 50% 50%;
    -ms-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    -webkit-border: 0 solid transparent;
    -moz-border: 0 solid transparent;
    -o-border: 0 solid transparent;
    -ms-border: 0 solid transparent;
    border: 0 solid transparent;
    opacity: 0; }

.users hr {
  margin: 0px;
  margin-bottom: 10px; }
.users h3 {
  margin-top: 10px; }

.social li > a {
  color: #8f8f8f;
  word-break: break-all; }
  .social li > a:hover {
    text-decoration: none;
    color: #333; }
  .social li > a i {
    width: 13px;
    margin-right: 10px; }

.membership {
  padding-left: 15px; }

.icons a:hover {
  color: #333; }

.prof-details h2 {
  margin-top: 0px;
  color: #333; }
.prof-details h5 {
  color: #666; }

.prof-cv a {
  display: inline-block;
  padding: 8px 8px;
  text-decoration: none;
  text-align: center;
  border-radius: 50%;
  background-color: #00add8;
  color: #cceff7;
  letter-spacing: 2px; }
  .prof-cv a:hover {
    background-color: #00a3cb;
    color: #fff; }
.prof-cv span {
  display: inline-block;
  margin-top: 10px;
  letter-spacing: 2px;
  text-align: center;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
  -ms-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -webkit-background-color: #fff;
  -moz-background-color: #fff;
  -o-background-color: #fff;
  -ms-background-color: #fff;
  background-color: #fff;
  padding: 5px 15px;
  color: #fff; }
.prof-cv span.CURRENT {
  -webkit-background-color: #00a65a;
  -moz-background-color: #00a65a;
  -o-background-color: #00a65a;
  -ms-background-color: #00a65a;
  background-color: #00a65a; }
.prof-cv span.PAST {
  -webkit-background-color: #FDB657;
  -moz-background-color: #FDB657;
  -o-background-color: #FDB657;
  -ms-background-color: #FDB657;
  background-color: #FDB657; }
.prof-cv button {
  color: #f4d9d6;
  -webkit-background-color: #c74433;
  -moz-background-color: #c74433;
  -o-background-color: #c74433;
  -ms-background-color: #c74433;
  background-color: #c74433;
  padding: 5px 9px;
  line-height: 20px;
  -webkit-border: 0 solid transparent;
  -moz-border: 0 solid transparent;
  -o-border: 0 solid transparent;
  -ms-border: 0 solid transparent;
  border: 0 solid transparent;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -o-border-radius: 4px 4px 4px 4px;
  -ms-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  transition: all 0.25s ease 0s; }
  .prof-cv button:hover {
    color: #fff;
    -webkit-background-color: #bc4031;
    -moz-background-color: #bc4031;
    -o-background-color: #bc4031;
    -ms-background-color: #bc4031;
    background-color: #bc4031;
    transition: all 0.25s ease 0s; }

@media (max-width: 992px) {
  .users > .col-md-3 {
    max-width: 260px;
    margin: 0px auto; }
  .users hr {
    max-width: 400px;
    margin: 10px auto 0px; }

  .prof-cv {
    text-align: center; }

  .prof-details {
    text-align: center; }
    .prof-details h2 {
      margin-top: 10px; } }
.fixed-list {
  overflow: hidden;
  border-radius: 17px;
  margin: 25px auto;
  display: inline-block; }
  .fixed-list li {
    padding: 0px;
    width: 150px;
    float: left; }
  .fixed-list a {
    display: block;
    letter-spacing: 2px;
    padding: 7px 0px;
    background-color: #dd4b39;
    color: #f4d9d6; }
    .fixed-list a:hover {
      text-decoration: none;
      background-color: #bc4031;
      color: #fff; }
    .fixed-list a:focus {
      text-decoration: none; }

.fixed-menu {
  z-index: 1;
  position: fixed;
  top: 60px;
  left: 50%;
  width: 100%;
  opacity: 0;
  transition: all 0.25s ease 0s;
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }
  .fixed-menu ul {
    margin: 0px;
    border-radius: 0px 0px 17px 17px; }

.fixed-menu.active {
  opacity: 1;
  transition: all 0.25s ease 0s; }

@media (max-width: 480px) {
  .fixed-list li {
    width: 96px; }
  .fixed-list a {
    font-size: 11px;
    padding: 9.5px 0px; } }
.papers-list li > a {
  color: #333;
  text-decoration: none;
  -webkit-border-bottom: 2px solid transparent;
  -moz-border-bottom: 2px solid transparent;
  -o-border-bottom: 2px solid transparent;
  -ms-border-bottom: 2px solid transparent;
  border-bottom: 2px solid transparent; }
  .papers-list li > a:hover {
    -webkit-border-bottom: 2px solid #f5c5bd;
    -moz-border-bottom: 2px solid #f5c5bd;
    -o-border-bottom: 2px solid #f5c5bd;
    -ms-border-bottom: 2px solid #f5c5bd;
    border-bottom: 2px solid #f5c5bd; }

.project-list {
  width: 100%;
  margin-bottom: 0px;
  display: inline-block; }
  .project-list li {
    width: 49%;
    float: left;
    padding: 5px; }
  .project-list a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: #333; }
    .project-list a h4 {
      margin-top: 0px; }
    .project-list a h6 {
      margin: 0px;
      color: #999; }

@media (max-width: 700px) {
  .project-list
  li {
    width: 100%;
    padding: 0px;
    margin-bottom: 10px; } }
table a {
  text-decoration: none;
  color: #8f8f8f;
  cursor: pointer; }
  table a:hover {
    color: #333;
    text-decoration: none; }
table h3 {
  color: #dd4b39;
  margin-top: 15px;
  margin-bottom: 10px; }
table th {
  background-color: #f4f4f4; }
table tr:nth-child(even) {
  background-color: #f4f4f4; }

/* Project_page */
.project-page h1 {
  margin: 0 0 10px;
  padding-right: 200px;
  color: #333; }
.project-page h6 {
  position: absolute;
  top: 0;
  right: 0;
  color: #646464; }

@media (max-width: 768px) {
  .project-page > div:first-child {
    text-align: center; }
  .project-page h1 {
    padding-right: 0px; }
  .project-page h6 {
    position: inherit; } }
.ppl-invld {
  margin-bottom: 0px; }
  .ppl-invld li a {
    border-radius: 3px;
    display: inline-block;
    padding: 6px 15px;
    background-color: #f3f3f3;
    text-decoration: none;
    color: #616161; }
    .ppl-invld li a:hover {
      color: #5c5c5c;
      background-color: #e6e6e6; }

.slideshow {
  position: relative;
  margin: 25px auto;
  max-width: 600px; }
  .slideshow .carousel {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
    .slideshow .carousel .carousel-indicators {
      z-index: 0 !important; }
    .slideshow .carousel .carousel-caption {
      padding: 5px;
      bottom: 0;
      left: 0;
      right: 0;
      -webkit-background-color: rgba(51, 51, 51, 0.6);
      -moz-background-color: rgba(51, 51, 51, 0.6);
      -o-background-color: rgba(51, 51, 51, 0.6);
      -ms-background-color: rgba(51, 51, 51, 0.6);
      background-color: rgba(51, 51, 51, 0.6); }
    .slideshow .carousel .carousel-inner {
      height: 100%; }
      .slideshow .carousel .carousel-inner .item {
        height: 100%; }
        .slideshow .carousel .carousel-inner .item img {
          max-width: 100%;
          max-height: 100%;
          position: absolute;
          left: 50%;
          top: 50%;
          -moz-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
    .slideshow .carousel a {
      opacity: 0.2; }
      .slideshow .carousel a:hover {
        opacity: 0.5; }

.publications h3 {
  margin-top: 15px;
  margin-bottom: 10px; }
.publications h4 {
  padding-top: 0px; }
.publications a {
  color: #333;
  text-decoration: none; }
  .publications a:hover {
    -webkit-border-bottom: 2px solid #f5c5bd;
    -moz-border-bottom: 2px solid #f5c5bd;
    -o-border-bottom: 2px solid #f5c5bd;
    -ms-border-bottom: 2px solid #f5c5bd;
    border-bottom: 2px solid #f5c5bd; }

/* Publications */
.bib-content {
  position: relative;
  white-space: normal; }
  .bib-content span {
    position: absolute;
    bottom: 0;
    right: 10px; }

/* Login Page */
/* universal input format,a tag and submit button*/
.univ-form input, .univ-form textarea {
  color: #8f8f8f;
  -webkit-border: 1px solid #e6e6e6;
  -moz-border: 1px solid #e6e6e6;
  -o-border: 1px solid #e6e6e6;
  -ms-border: 1px solid #e6e6e6;
  border: 1px solid #e6e6e6;
  border-radius: 2px !important; }
.univ-form a {
  color: #8f8f8f;
  text-decoration: none;
  cursor: pointer; }

.red-btn {
  float: right;
  border-color: #dd4b39 !important;
  border-radius: 2px;
  color: #dd4b39 !important;
  transition: all 0.25s ease 0s; }
  .red-btn:hover {
    border-color: #dd4b39;
    color: #fff !important;
    background-color: #dd4b39;
    transition: all 0.25s ease 0s; }

/* login box */
.login {
  width: 360px;
  margin: 0px auto;
  padding: 20px !important; }

.remember {
  width: 100%;
  font-size: 16px;
  font-family: lato-light; }

/* register page button */
.register-btn {
  margin-left: 100px;
  border-color: #dd4b39 !important;
  border-radius: 2px;
  color: #dd4b39 !important;
  transition: all 0.25s ease 0s; }
  .register-btn:hover {
    border-color: #dd4b39;
    color: #fff !important;
    background-color: #dd4b39;
    transition: all 0.25s ease 0s; }

/* Footer */
footer {
  font-family: lato-regular;
  background-color: #fff;
  padding: 7.5px 0px;
  margin-top: 50px !important;
  -webkit-box-shadow: 0px -4px 2px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px -4px 2px 0 rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px -4px 2px 0 rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0px -4px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0px -4px 2px 0 rgba(0, 0, 0, 0.05); }
  footer span {
    font-family: lato-light; }

/* Add data Admin/Users */
/* Home Page */
.form-edit {
  -webkit-border-bottom: 2px solid #e6e6e6;
  -moz-border-bottom: 2px solid #e6e6e6;
  -o-border-bottom: 2px solid #e6e6e6;
  -ms-border-bottom: 2px solid #e6e6e6;
  border-bottom: 2px solid #e6e6e6; }
  .form-edit > ol h6 {
    padding-right: 60px;
    position: relative; }
    .form-edit > ol h6 > span {
      position: absolute;
      right: 0;
      top: 10px; }
      .form-edit > ol h6 > span i {
        padding-left: 5px;
        cursor: pointer; }

/* Helper-classes */
/* Automations */
.mainheading {
  font-family: lato-light;
  color: #333;
  line-height: 29px;
  margin: 0; }
  .mainheading > span {
    text-align: center;
    display: inline-block;
    padding: 0 15px;
    padding-bottom: 15px;
    -webkit-border-bottom: 3px solid #dd4b39;
    -moz-border-bottom: 3px solid #dd4b39;
    -o-border-bottom: 3px solid #dd4b39;
    -ms-border-bottom: 3px solid #dd4b39;
    border-bottom: 3px solid #dd4b39; }

.heading {
  font-family: lato-regular;
  color: #dd4b39;
  line-height: 18px;
  margin: 0; }
  .heading > span {
    padding: 10px; }

.sub-heading {
  font-family: lato-regular;
  color: #333;
  margin: 0; }

.content-heading {
  color: #dd4b39; }

.content-heading.active {
  color: #b13c2e; }

.news-box {
  background-color: #fff;
  -webkit-border: 1px solid #e6e6e6;
  -moz-border: 1px solid #e6e6e6;
  -o-border: 1px solid #e6e6e6;
  -ms-border: 1px solid #e6e6e6;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.1); }

.user-box {
  position: relative;
  cursor: pointer;
  background-color: #fff;
  overflow: hidden;
  padding: 0 !important;
  margin: 0 5px;
  -webkit-border: 1px solid #f5f5f5;
  -moz-border: 1px solid #f5f5f5;
  -o-border: 1px solid #f5f5f5;
  -ms-border: 1px solid #f5f5f5;
  border: 1px solid #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 7px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 1px 7px 0 rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 1px 7px 0 rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0px 1px 7px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 7px 0 rgba(0, 0, 0, 0.05); }
  .user-box > span {
    color: #333;
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    opacity: 0.5; }
    .user-box > span:hover {
      opacity: 1; }

.project-box {
  background-color: #fff;
  -webkit-border: 1px solid #e6e6e6;
  -moz-border: 1px solid #e6e6e6;
  -o-border: 1px solid #e6e6e6;
  -ms-border: 1px solid #e6e6e6;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  padding: 10px;
  -webkit-box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.04);
  -ms-box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.04);
  -o-box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.04);
  box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.04); }
  .project-box pre {
    font-family: lato-light;
    font-size: 21px;
    padding: 0;
    max-height: 90px;
    overflow: hidden;
    white-space: pre-line;
    color: #333;
    position: relative;
    word-break: normal;
    -webkit-border: 0 solid transparent;
    -moz-border: 0 solid transparent;
    -o-border: 0 solid transparent;
    -ms-border: 0 solid transparent;
    border: 0 solid transparent;
    -webkit-background-color: transparent;
    -moz-background-color: transparent;
    -o-background-color: transparent;
    -ms-background-color: transparent;
    background-color: transparent; }
    .project-box pre > span {
      position: absolute;
      right: 0;
      bottom: 0;
      color: #8f8f8f; }
    .project-box pre:hover > span {
      color: #333 !important; }

.float-none {
  float: none; }

.cursor-initial {
  cursor: initial; }

.cursor-pointer {
  cursor: pointer; }

.min-height-70vh {
  min-height: 70vh; }

.position-relative {
  position: relative !important; }

.vertical-align-inherit {
  vertical-align: inherit; }

.edit-position {
  position: absolute;
  right: 20px;
  top: 15px; }

.display-none {
  display: none !important; }

.resize-vertical {
  resize: vertical; }

.chosen-select .chosen-choices {
  -webkit-border: 1px solid #e6e6e6;
  -moz-border: 1px solid #e6e6e6;
  -o-border: 1px solid #e6e6e6;
  -ms-border: 1px solid #e6e6e6;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  -o-border-radius: 2px 2px 2px 2px;
  -ms-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
  background-image: none !important;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.075) inset;
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.075) inset;
  -ms-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.075) inset;
  -o-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.075) inset;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.075) inset; }
  .chosen-select .chosen-choices input {
    color: #8f8f8f !important;
    font-family: lato-light !important;
    margin: 0 !important;
    height: 32px !important; }
  .chosen-select .chosen-choices li.search-choice {
    color: #333;
    line-height: inherit;
    -webkit-border: 0 solid #e6e6e6;
    -moz-border: 0 solid #e6e6e6;
    -o-border: 0 solid #e6e6e6;
    -ms-border: 0 solid #e6e6e6;
    border: 0 solid #e6e6e6;
    background-image: none;
    font-size: 14px; }
    .chosen-select .chosen-choices li.search-choice .search-choice-close {
      top: 8px; }
.chosen-select .chosen-drop {
  -webkit-border: 1px solid #e6e6e6;
  -moz-border: 1px solid #e6e6e6;
  -o-border: 1px solid #e6e6e6;
  -ms-border: 1px solid #e6e6e6;
  border: 1px solid #e6e6e6;
  color: #8f8f8f !important; }

.chosen-select.without-body-bg .chosen-choices {
  -webkit-border: 1px solid #ccc;
  -moz-border: 1px solid #ccc;
  -o-border: 1px solid #ccc;
  -ms-border: 1px solid #ccc;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -o-border-radius: 4px 4px 4px 4px;
  -ms-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px; }

/* Animation bw the views */
.view-container {
  position: relative; }

.view-frame.ng-enter,
.view-frame.ng-leave {
  background: white;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

.view-frame.ng-enter {
  animation: 1s fade-in;
  z-index: 100; }

.view-frame.ng-leave {
  animation: 1s fade-out;
  z-index: 99; }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
/* Measurements */
.margin-0-auto {
  margin: 0px auto; }

.margin-0 {
  margin: 0 !important; }

.margin-top-10 {
  margin-top: 10px !important; }

.margin-top-0 {
  margin-top: 0 !important; }

.padding-0 {
  padding: 0 !important; }

.padding-10 {
  padding: 10px !important; }

.padding-5 {
  padding: 5px !important; }

.padding-top-5 {
  padding: 0 5px !important; }

.padding-top-10 {
  padding: 0 10px !important; }

.padding-top-15 {
  padding: 0 15px !important; }

.padding-top-20 {
  padding: 0 20px !important; }

.padding-right-40 {
  padding-right: 40px !important; }

.padding-top-50 {
  padding-top: 50px !important; }

.padding-top-25 {
  padding-top: 25px !important; }

.padding-bottom-25 {
  padding-bottom: 25px !important; }

.padding-bottom-15 {
  padding-bottom: 15px !important; }

.padding-bottom-50 {
  padding-bottom: 50px !important; }

.padding-left-15 {
  padding-left: 15px !important; }

.padding-left-20 {
  padding-left: 20px !important; }

.padding-6-20 {
  padding: 6px 20px !important; }

.padding-6-36 {
  padding: 6px 36px !important; }

.padding-6-33 {
  padding: 6px 33px !important; }

.padding-2-20 {
  padding: 2px 20px !important; }

.margin-top-25 {
  margin-top: 25px !important; }

.margin-top-110 {
  margin-top: 110px !important; }

.margin-top-2 {
  margin-top: 2px !important; }

.margin-bottom-25 {
  margin-bottom: 25px !important; }

.margin-bottom-10 {
  margin-bottom: 10px !important; }

.max-width-1400 {
  max-width: 1400px !important; }

.max-width-1300 {
  max-width: 1300px !important; }

/* Fonts */
.lato-regular {
  font-family: lato-regular !important; }

.lato-light {
  font-family: lato-light !important; }

.lato-thin {
  font-family: lato-thin !important; }

.f-size-12 {
  font-size: 12px; }

.f-size-14 {
  font-size: 14px; }

.f-size-16 {
  font-size: 16px; }

.f-size-18 {
  font-size: 18px; }

.f-size-21 {
  font-size: 21px; }

.f-size-29 {
  font-size: 29px; }

.f-size-32 {
  font-size: 32px; }

.f-size-35 {
  font-size: 35px; }

/*# sourceMappingURL=style.css.map */
