/* Custom Fonts*/
@font-face{
	font-family:"lato-regular";
	src: url("../fonts/Lato-Regular.ttf")
}
@font-face{
	font-family:"lato-light";
	src: url("../fonts/Lato-Light.ttf")
}
@font-face{
	font-family:"lato-thin";
	src: url("../fonts/Lato-Thin.ttf")
}

/* Import libraries */

@import "mixins";

/* All Variables */

    /* All colours */
    	/* Text */
$text-black: #333;
$dd-text-white: #b8c7ce;
$text-white: #fff;
$text-red: #dd4b39;
$text-lighter-black: #999;
$text-grey: #8f8f8f;
$text-darker-grey: #666;
$text-offwhite: #f4d9d6;
$text-light-black: #646464;
$text-dark-grey: #323232;
$text-light-grey: #8c8c8c;
$text-lgrey:#646464;
$text-lblack: #616161;
$text-hover-lblack: #5c5c5c;
$text-hover-red: #b13c2e;
$text-cv-white: #cceff7;

		/* Background */
$bg-black: #333;
$body-bg-grey: #fafafa;
$dd-bg-black: #222d32;
$dd-bg-hover-black: #1e282c;
$bg-white: #fff;
$bg-red: #c74433;
$bg-hover-red: #bc4031;
$bg-green: #00a65a;
$bg-yellow: #FDB657;
$bg-hover-green: #008D4D;
$bg-orange: #f39c12;
$bg-blue: #00add8;
$bg-hover-blue: #00a3cb;
$bg-grey: #f4f4f4;
$bg-light-grey: #f3f3f3;
$bg-hover-light-grey: #e6e6e6;

		/* Border */
$br-light-red: #f5c5bd;
$br-red: #dd4b39;
$br-light-grey: #e8e8e8;
$br-white-smoke: #f5f5f5;
$br-light-grey: #e6e6e6;
$br-grey: #8f8f8f;

/* Body */
body{
	font-family: lato-light;
	font-size: 21px;
	color: $text-black;
    @include background-color($body-bg-grey);
    p{
    	margin: 0px;
    }
}
ul{
	margin-left: 0px !important;
}
a:hover{
	@include transition(0.25,ease);
}

/* Navigation Menu */
.brand-name{
	color: $br-red;
	font-size: 20px;
	line-height: 20px;
}
.navbar-header{
	width: 428px !important;
}
@media (max-width: 768px){
	.navbar-header{
		width: inherit !important;
	}
}
@media (max-width: 560px){
	.brand-name{
		font-size: 16px;
		line-height: 16px;
	}
}
@media (max-width: 475px){
	.brand-name{
		display: none;
	}
}

.home-carousel{
	.carousel-indicators{
		z-index: 0 !important;
	}
	.carousel-inner{
		img{
			height: 100%;
			max-height: 406px;
			max-width: 100%;
    	min-height: 406px;
		}
	}
	.carousel-caption{
		padding: 0;
		bottom: 5px;
		>p{
			display: inline-block;
			padding: 0 10px;
			@include background-color(rgba($bg-black, 0.6));
			@include border-radius(2px, 2px, 2px, 2px);
		}
	}
}

.navbar-default{
	background-color: $text-white;
}
.navbar-offset{
	margin-top: 60px;
	padding: 0px;
}
.nav-offset{
	margin-top: 110px;
}
.navbar{
	margin: 0px;
	@include border-radius(0,0,0,0);
	@include border(0,solid,transparent);
	@include box-shadow(0,2px,2px,0,rgba(0,0,0,0.15),null);
}
.navbar-brand{
	height: initial;
	padding: 10px 0px;
	margin: 0px !important;
}
.navbar-default .navbar-nav.main > li > a {
	font-family: lato-regular;
	color: $text-grey;
	padding: 20px 15px;
	@include transition(0.25,ease);
	>span{
		position: relative;
		&:after{
			content: '';
			position: absolute;
			bottom: -10px;
			left: 50%;
			@include translate(-50%, 0);
			height: 2px;
			width: 0;
			@include background-color($br-red);
			@include transition(0.25,ease);
		}
	}
	&:hover{
		color: $text-black;
		@include transition(0.25,ease);
		>span{
			&:after{
				width: 100%;
				@include transition(0.25,ease);
			}
		}
	}
}
.navbar-default .navbar-nav.main > li > a.active{
	color: $text-black;
	>span{
		&:after{
			width: 100%;
		}
	}
}
.navbar-default .navbar-nav>li>a.active{
	color: $text-black;
}

.navbar-toggle{
	margin-top: 13px;
}

.nav-extra-top{
	margin-top: 110px;
}

.admin-controls{
	position: fixed;
	left: 0;
	top: 60px;
	min-height: 34px;
	>ul{
		margin: 0 !important;
		>li{
			@include background-color($bg-red);
			@include transition(0.25, ease);
			color: $text-white;
			line-height: 34px;
			font-size: 16px;
			padding: 0 10px;
			cursor: pointer;
			&:hover{
				@include background-color($bg-hover-red);
				@include transition(0.25, ease);
			}
			>a{
				padding: 0;
				line-height: 34px;
				color: $text-white !important;
				&:hover{
					@include background-color($bg-hover-red);
					@include transition(0.25, ease);
				}
			}
		}
	}
}

.to-the-top{
	text-decoration: none;
	text-align: center;
	position: fixed;
	bottom: 20px;
	right: 15px;
	display: inline-block;
	width: 40px;
	opacity: 0;
	line-height: 40px;
	@include border-radius(50%, 50%, 50%, 50%);
	@include background-color($bg-red);
	@include transition(0.25, ease);
	color: $text-offwhite;
	&:hover{
		background-color: $bg-hover-red;
		color: $text-white;
	}
}
.to-the-top.active{
	opacity: 1;
	@include transition(0.25, ease);
}

.user-controls{
	padding: 0;
	margin: 13px 0;
	overflow: hidden;
	@include border(2px, solid, $br-grey);
	@include transition(0.25, ease);
	@include background-color(tranparent);
	@include border-radius(50%, 50%, 50%, 50%);
}
.user-controls.active{
	@include border(2px, solid, $br-red);
	@include transition(0.25, ease);
}

@media (max-width: 992px){
	.nav-extra-top{
	margin-top: 144px;
	}
}

@media (max-width: 768px){
	.navbar-default .navbar-nav .open .dropdown-menu{
		@include border(0,solid,transparent);
		border-radius: 0px;
		background-color: $dd-bg-black;
		padding:0px;
		>li>a {
		color: $dd-text-white;
		padding: 10px 20px;
			&:hover{
			color: $text-white;
			background-color:$dd-bg-hover-black;
			}
		}
	}
}
@media (min-width: 1300px){
	.banner{
	max-width: 1300px;
	margin: 60px auto 0px;
	}
}


/* Home */
	/* About Us */
pre.about-us-content{
	font-family: lato-light;
	font-size: 21px;
	padding: 0;
	white-space: pre-line;
	color: #333;
	word-break: normal;
	@include border(0, solid, transparent);
	@include background-color(transparent);
}

   /* Upcoming Events */
.newsb{
	position: fixed;
    top: 50%;
    width: 300px;
    transform: translate(0,-50%);
    right: -300px;
    z-index: 1;
    max-height: 400px;
    border-radius: 0px 0px 0px 3px !important;
    @include transition(0.25,ease);
	ul{
		margin-top: 10px;
		>li{
			padding: 10px 0px;
			>div{
				img{
					float: left;
					margin-top: 5px;
				}
				>div{
					margin-left: 52px;
					h5{
						font-family: lato-light;
						color: $text-black;
					}
					h6{
						font-family: lato-light;
						color:$text-lighter-black;
					}
				}
			}
		}
	}
}
.notification{
	background-color:  $text-white;
	position: absolute;
	top: -1px;
	width: 70px;
	height: 70px;
	left: -70px;
	border-radius: 3px 0 0 3px;
	@include border(1px, solid, $br-light-grey);
	border-right: none;
	@include box-shadow(0px, 1px , 1px, 0, rgba(0, 0, 0, 0.1), null);

	span{
		i{
			font-size: 50px;
		}
		span{
			position: absolute;
			top: 10px;
			right: 10px;
			background-color: $br-red;
			height: 18px;
			width: 18px;
			font-size: 12px;
			color: $text-white;
			border-radius: 3px;
		}
	}
}
@media (max-width: 768px) {
	.newsb{
		margin: 25px auto 0px;
	}
}

  /* Research Areas */
.research-areas{
	 	display: inline-block;
   		width: 100%;
        padding: 0px;
    	margin-bottom: 0px;
		li{
		width: (100%/3);
		float: left;
    }
}
@media (max-width: 700px){
	.research-areas{
		padding-left: 20px;
		li{
			width: inherit;
			float: none;
		}
	}
}
.res-areas{
	display: inline-block;
	width: 100%;
	padding: 0px;
	margin-bottom: 0px;
	li{
		width: 50%;
		float: left;
		padding-right: 30px;
	}
}

@media (max-width: 700px){
	.res-areas{
		padding-left: 20px;
		li{
			width: inherit;
			float: none;
		}
	}
}

  /* Address */
.address{
	p{
		margin-left: 10px;
	}
	a{
	color: $text-grey;
	&:hover{
	  text-decoration: none;
	  color: $text-black;
		}
	}
}
.map{
	max-height: 200px;
	position: relative;
	margin: 0px auto;
}
a.directions{
	position: absolute;
	text-decoration: none;
	text-align: center;
	top: 10px;
	right: 20px;
	color: rgb(86, 86, 86);
	font-family: Roboto,Arial,sans-serif;
	-moz-user-select: none;
	font-size: 11px;
	@include background-color(#fff);
	padding: 8px;
	@include border-radius(2px, 2px, 2px, 2px);
	background-clip: padding-box;
	@include box-shadow(0px, 1px, 4px, -1px, rgba(0, 0, 0, 0.3), null);
}

 /*Home ends*/

 /* Team */
.li-padding-5{
	>li{
		padding: 5px 2.5px;
	}
}
.prof-in-charge{
	padding-bottom: 5px;
	>li{
		padding: 0px;
	}
	>h4{
		font-family: lato-light;
		font-size: 16px;
		color: $text-darker-grey;
		margin-top: 10px;
		margin-bottom: 5px;
		overflow-wrap: break-word;
	}
}

.mot{
	width: 230px;
	>div{
		&:first-child{
			>img{
		 		height: 287.5px;
				width: auto;
		    left: 50%;
		    position: relative;
		    @include translate(-50%, 0);
			}
		}
		&:last-child{
			padding: 10px;
			>h3{
				margin: 0px;
				font-family: lato-light;
				font-size: 21px;
				color: $text-black;
			}
			>h4{
				font-family: lato-light;
				font-size: 16px;
				color: $text-darker-grey;
				margin-top: 10px;
				margin-bottom: 5px;
			}
			>h6{
				font-family: lato-light;
				font-size: 16px;
				color: $text-darker-grey;
				margin: 0px;
			}
			>hr{
			    height: 3px;
			    width: 25%;
			    background-color: $bg-red;
			    margin-top: 5px;
			    margin-bottom: 0px;
			}
			>a{
				text-decoration: none;
				font-family: lato-light;
				font-size: 16px;
				color: $text-grey;
				&:hover{
					color: $text-black;
				}
			}
			ul{
				margin-top: 15px;
				height: 30px;
				li{
					a{
					  color: $text-grey;
					  &:hover{
						color: $text-black;
						}
					}
				}
			}
		}
	}
 }
.past-mot{
	h2{
		padding-top: 15px;
	}
	li{
		padding: 10px 2.5px;
		padding-bottom: 0px;
	}
}

   /* Horizontal rule */
.rule{
	max-width: 400px;
	color: $br-light-grey;
}

   /* button */
.showbtn{
	padding: 3.5px 0px;
	margin-top: -5px;
	width: 100%;
	border:none;
	color: $text-offwhite;
	@include transition(0.25,ease);
	background: -webkit-linear-gradient(transparent, rgba($bg-red,0.7), $bg-red); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(transparent, rgba($bg-red,0.7), $bg-red); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(transparent, rgba($bg-red,0.7), $bg-red); /* For Firefox 3.6 to 15 */
    background: linear-gradient(transparent, rgba($bg-red,0.7), $bg-red); /* Standard syntax (must be last) */
	&:focus{
		@include border(0,solid,transparent);
	}
	&:hover{
		color: $text-white;
		background: -webkit-linear-gradient(transparent, rgba($bg-hover-red,0.7), $bg-hover-red); /* For Safari 5.1 to 6.0 */
	    background: -o-linear-gradient(transparent, rgba($bg-hover-red,0.7), $bg-hover-red); /* For Opera 11.1 to 12.0 */
	    background: -moz-linear-gradient(transparent, rgba($bg-hover-red,0.7), $bg-hover-red); /* For Firefox 3.6 to 15 */
	    background: linear-gradient(transparent, rgba($bg-hover-red,0.7), $bg-hover-red); /* Standard syntax (must be last) */
	}
}

.wl-member-operations{
	padding: 0 !important;
	display: inline-block;
	width: 100%;
	vertical-align: bottom;
	span{
		width: 50%;
		display: inline-block;
		float: left;
		padding: 10px;
		color: $text-white;
		cursor: pointer;
		&:first-child{
			@include background-color($bg-green);
			@include transition(0.25, ease);
			&:hover{
				@include background-color($bg-hover-green);
				@include transition(0.25, ease);
			}
		}
		&:last-child{
			@include background-color($bg-red);
			@include transition(0.25, ease);
			&:hover{
				@include background-color($bg-hover-red);
				@include transition(0.25, ease);
			}
		}
	}
}
.hierarchy-control{
	position: absolute;
	top: 10px;
	display: inline-block;
	left: 10px;
	>input{
		height: 20px;
		width: 30px;
		@include background-color($bg-white);
		@include border(0, solid, transparent);
		text-align: center;
		font-size: 16px;
		@include box-shadow(0, 0, 5px, 0, rgba($bg-black, 0.5), inset);
		@include border-radius(3px, 3px, 3px, 3px);
	}
	>button{
		color: $text-offwhite;
		@include background-color($bg-red);
		padding: 0 4px;
    line-height: 20px;
		@include border(0, solid, transparent);
		@include border-radius(4px, 4px, 4px, 4px);
		@include transition(0.25, ease);
		&:hover{
			color: $text-white;
			@include background-color($bg-hover-red);
			@include transition(0.25, ease);
		}
	}
}
/* Team ends */

/* Project */
  /* sidebar */
.search-box{
	@include border-right(1px, solid, $br-light-grey);
	input{
		width: 100%;
		padding: 4px;
		height: 34px;
		color: $text-grey;
	}
	select{
		width: 100%;
		height: 34px;
		color: $text-grey;
		padding: 0px;
	}
	>h4{
		margin-top: 10px;
		color: $text-light-black;
	}
}
.fix-search{
	z-index: 1;
	position: fixed;
	top: 60px;
	width: 100%;
	@include box-shadow(0,2px,2px,0,rgba(0,0,0,0.15),null);
	input{
		border-radius: 0px;
		@include border(1px, solid, $br-light-grey);
	}
}


 	/* Projects Desc */
.projects{
	li{
		>div{
			margin-bottom: 10px;
		}
	}
	h2{
		color: $br-red;
		margin-top: 0px;
		margin-bottom: 15px;
	}
	h3{
		padding:10px 0px;
	}
	h6{
		color: $text-lighter-black;
	}
}


.ppl-involved{
	li{
		a{
			border-radius: 3px;
			display: inline-block;
			padding:6px 15px;
			background-color: $bg-red;
			text-decoration: none;
			color: $text-offwhite;
			&:hover{
			color: $text-white;
			background-color: $bg-hover-red;
			}
		}
	}
}
.slides-thumnail{
	width: 25%;
	>div{
		padding: 0 !important;
		position: relative;
		>img{
			height: 100px;
			margin: 0 auto;
		}
		>h5{
			padding: 0 10px;
			text-overflow: ellipsis;
	    white-space: nowrap;
	    overflow: hidden;
			min-height: 15px;
		}
		>span{
			position:absolute;
			top: 0;
			right: 0;
			@include background-color(rgba($bg-black, 0.5));
			padding: 0 5px;
			a{
				font-size: 16px;
				color: $text-white;
				i{
					padding: 0 5px;
				}
			}
		}
	}
}

	/* Project animation */
.projects-list.ng-enter,
.projects-list.ng-leave,
.projects-list.ng-move {
  transition: 0.5s linear all;
}

.projects-list.ng-enter,
.projects-list.ng-move {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.projects-list.ng-enter.ng-enter-active,
.projects-list.ng-move.ng-move-active {
  height: initial;
  opacity: 1;
}

.projects-list.ng-leave {
  opacity: 1;
  overflow: hidden;
}

.projects-list.ng-leave.ng-leave-active {
  height: 0;
  opacity: 0;
  padding-bottom: 0;
  padding-top: 0;
}


 /* News */

// .news{
// 	>ul{
// 		margin-top: 20px;
// 		>li{
// 			padding-bottom: 5px;
// 			>div{
// 				img{
// 					height: 67px;
// 					width: 100px;
// 					float: left;
// 				}
// 				>div{
// 					margin-left: 110px;
// 					h5{
// 						font-family: lato-light;
// 						color: $text-black;
// 					}
// 					h6{
// 						font-family: lato-light;
// 						color:$text-lighter-black;
// 					}
// 				}
// 			}
// 		}
// 	}
// }

.news{
	>ul{
		margin-top: 10px;
		display: inline-block;
		width: 100%;
		>li{
		 width: 33.33%;
		 float: left;
		 height: 45px;
		 >a{
			 display: inline-block;
			 width: 100%;
			 text-decoration: none;
			 @include scale(1);
			 @include transition(0.25, ease);
			 &:hover{
				 @include scale(1.02);
				 @include transition(0.25, ease);
			 }
		 }
	  }
	}
}
@media (max-width: 768px){
	.news{
		>ul{
			margin-top: 10px;
			display: inline-block;
			width: 100%;
			>li{
			 width: 100%;
		     float: left;
		    }
		}
	}
}
.events{
	margin-left: 52px;
	h5{
		font-family: lato-light;
		color: $text-black;
		margin-top: 0;
	}
	h6{
		margin-bottom: 0;
		font-family: lato-light;
		color:$text-lighter-black;
	}
}

.news-sidebar{
	hr{
		margin:0px;
		padding: 0px;
	}
	h4{
		font-family: lato-light;
		font-size: 18px;
		color: $text-dark-grey;
		margin: 0px;
		padding: 10px 0px;
	}
	h5{
		font-family: lato-light;
		font-size: 14px;
		color: $text-dark-grey;
		margin: 0px;
		padding-top: 10px;
		padding-bottom: 5px;
	}
	h6{
		font-family: lato-light;
		font-size: 14px;
		color: $text-light-grey;
		margin: 0px;
	}
}

/* News page */
.news-page{
	>h5{
		color: $text-darker-grey;
	}
	>div.authors{
		display: inline-block;
		@include border(1px, solid, $br-light-grey);
		@include background-color($bg-white);
		@include border-radius(3px, 3px, 3px, 3px);
		i{
			font-size: 30px;
			width: 40px;
			line-height: 40px;
			@include border-right(1px, solid, $br-light-grey);
		}
		span{
			margin: 5px;
			color: $text-darker-grey;
			display: inline-block;
		}
	}
	hr{
		max-width: 400px;
		margin: 0 auto;
	}
	hr.red-flag{
		position: relative;
		&:after{
			content: '';
			position: absolute;
			bottom: -3px;
			left: 50%;
			@include translate(-50%, 0);
			height: 3px;
			width: 80px;
			@include background-color($br-red);
		}
	}
	pre{
		font-family: lato-light;
		font-size: 21px;
		padding: 0;
		white-space: pre-line;
		color: #333;
		word-break: normal;
		@include border(0, solid, transparent);
		@include background-color(transparent);
	}
}
.news-image{
	cursor: pointer;
	@include scale(1);
	@include transition(0.25, ease);
	&:hover{
		@include scale(1.05);
		@include transition(0.25, ease);
	}
}
	/* Gallery */
.gallery{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	@include background-color(rgba($bg-black, 0.7));
	z-index: -1;
	opacity: 0;
	@include scale(0.6);
	>i{
		position: absolute;
		top: 0;
		right: 0;
		font-size: 40px;
		line-height: 40px;
		color: $text-white;
		cursor: pointer;
		opacity: 0.6;
		@include background-color(rgba($bg-black, 0.6));
		@include transition(0.2, linear);
		display: inline-block;
		padding: 15px 20px;
		&:hover{
			opacity: 1;
			@include transition(0.2, linear);
		}
	}
}
.gallery.active{
	opacity: 1;
	z-index: 10000;
	@include scale(1);
}
a.arrow {
	display: block;
	font-size: 50px;
	text-decoration: none;
	color: $text-white;
	position: absolute;
	top: 50%;
	@include translate(0,-50%);
	z-index: 5;
}
a.arrow.prev {
	left: 50px;
	opacity: 0.6;
	@include transition(0.2, linear);
	&:hover{
		opacity:1;
	}
}
a.arrow.next {
	opacity: 0.6;
	right: 50px;
	@include transition(0.2, linear);
	&:hover{
		opacity:1;
	}
}
.gallery-nav {
	display: block;
	position: absolute;
	bottom: 0;
	left: 50%;
	@include translate(-50%, 0);
	text-align: center;
	max-width: 1200px;
	overflow-y: hidden;
	overflow-x: scroll;
	z-index: 5;
	margin-bottom: 20px;
	>li {
		@include border(2px, solid, $br-grey);
		@include border-radius(3px, 3px, 3px, 3px);
		cursor: pointer;
		display: inline-block;
		margin: 0 5px;
		padding: 0;
		position: relative;
		@include transition(0.25, ease);
		&:hover{
			@include border(2px, solid, $br-red);
			@include transition(0.25, ease);
		}
		img {
			height: 40px;
		}
	}
	>li.active {
		@include border(2px, solid, $br-red);
	}
}
.news-slide {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	>img{
		max-height: 100vh;
		max-width: 100vh;
		margin: 0 auto;
		position: absolute;
		top: 50%;
		left: 50%;
		@include translate(-50%, -50%);
	}
	>h5{
		position: absolute;
		bottom: 80px;
		display: inline-block;
    padding: 0 10px;
		color: $text-white;
		left: 50%;
		@include translate(-50%, 0);
		@include background-color(rgba($bg-black, 0.6));
		@include border-radius(2px, 2px, 2px, 2px);
		margin: 0 15px;
	}
}
.news-slide.ng-hide-add {
	opacity:1;
	@include transition(0.25, ease);
}
.news-slide.ng-hide-add.ng-hide-add-active {
	opacity:0;
}
.news-slide.ng-hide-remove {
	display:block !important;
	opacity:0;
	@include transition(0.25, ease);
}
.news-slide, .news-slide.ng-hide-remove.ng-hide-remove-active {
	opacity:1;
}

/* Individual User Page */
.main-image{
	position: relative;
  display: inline-block;
  margin: 20px 0px;
	>div{
		height: 150px;
		width: 150px;
		@include border-radius(50%, 50%, 50%, 50%);
		overflow: hidden;
		img{
			width: 100%;
			position: relative;
    	left: 50%;
			@include translate(-50%, 0);
		}
	}

	span{
		font-size: 12px;
		@include background-color($bg-white);
		color: white;
		line-height: 40px;
		position: absolute;
		@include border-radius(50%, 50%, 50%, 50%);
		text-align: center;
		height: 40px;
		width: 40px;
		right: 0px;
		bottom: 0px;
	}
	span.CURRENT{
		@include background-color($bg-green);
	}
	span.PAST{
		@include background-color($bg-yellow);
	}
	>button{
		position: absolute;
		top: 0;
		z-index: 1;
		left: 0;
		height: 150px;
		width: 150px;
		@include border-radius(50%, 50%, 50%, 50%);
		@include border(0, solid, transparent);
		opacity: 0;
	}
}
.users{
	hr{
		margin: 0px;
		margin-bottom:10px;
	}
	h3{
		margin-top: 10px;
	}
}
.social{
	li{
		>a{
			color: $text-grey;
			word-break: break-all;
			&:hover{
			  text-decoration: none;
			  color: $text-black;
			}
			i{
				width: 13px;
				margin-right: 10px;
			}
		}
	}
}
.membership{
		padding-left: 15px;
}
.icons{
	a:hover{
		color: $text-black;
	}
}
.prof-details{
	h2{
		margin-top: 0px;
		color: $text-black;
	}
	h5{
		color: $text-darker-grey;
	}
}
.prof-cv{
	a{
		display: inline-block;
		padding: 8px 8px;
		text-decoration: none;
		text-align: center;
		border-radius: 50%;
		background-color: $bg-blue;
		color: $text-cv-white;
		letter-spacing: 2px;
		&:hover{
			background-color: $bg-hover-blue;
			color: $text-white;
		}
	}
	span{
		display: inline-block;
		margin-top: 10px;
		letter-spacing: 2px;
		text-align: center;
		@include border-radius(5px, 5px, 5px, 5px);
		@include background-color($bg-white);
		padding: 5px 15px;
		color: $text-white;
	}
	span.CURRENT{
		@include background-color($bg-green);
	}
	span.PAST{
		@include background-color($bg-yellow);
	}
	button{
		color: $text-offwhite;
		@include background-color($bg-red);
		padding: 5px 9px;
    line-height: 20px;
		@include border(0, solid, transparent);
		@include border-radius(4px, 4px, 4px, 4px);
		@include transition(0.25, ease);
		&:hover{
			color: $text-white;
			@include background-color($bg-hover-red);
			@include transition(0.25, ease);
		}
	}
}
@media (max-width: 992px){
	.users{
		>.col-md-3{
			max-width: 260px;
			margin: 0px auto;
		}
		hr{
		max-width: 400px;
		margin: 10px auto 0px;
		}
	}
	.prof-cv{
		text-align: center;
	}
	.prof-details{
		text-align: center;
		h2{
			margin-top: 10px;
		}
	}
}

.fixed-list{
	overflow: hidden;
	border-radius: 17px;
	margin: 25px auto;
	display: inline-block;
	li{
		padding: 0px;
		width: 150px;
		float: left;
	}
	a{
		display: block;
		letter-spacing: 2px;
		padding: 7px 0px;
		background-color: $br-red;
		color: $text-offwhite;
		&:hover{
			text-decoration: none;
			background-color: $bg-hover-red;
			color: $text-white;
	  }
		&:focus{
			text-decoration: none;
		}
	}
}
// Sticky menu to fix after angularJS inside media query

.fixed-menu{
	z-index: 1;
	position: fixed;
	top: 60px;
	left: 50%;
	width: 100%;
	opacity: 0;
	@include transition(0.25, ease);
	@include translate(-50%,0);
	ul{
		margin:0px;
		border-radius: 0px 0px 17px 17px;
	}
}
.fixed-menu.active{
	opacity: 1;
	@include transition(0.25, ease);
}

@media (max-width: 480px) {
	.fixed-list{
		li{
			width: 96px;
		}
		a{
			font-size: 11px;
			padding: 9.5px 0px;
		}
	}
}

.papers-list{
	li{
		>a{
			color: $text-black;
			text-decoration: none;
			@include border-bottom(2px, solid, transparent);
			&:hover{
				@include border-bottom(2px, solid, $br-light-red);
			}
		}
	}
}

.project-list{
	width: 100%;
	margin-bottom: 0px;
	display: inline-block;
	li{
		width: 49%;
		float: left;
		padding: 5px;
	}
	a{
		display: inline-block;
		width: 100%;
		text-decoration: none;
		color: $text-black;
		h4{
			margin-top: 0px;
		}
		h6{
			margin: 0px;
			color: $text-lighter-black;
		}
	}
}
@media (max-width: 700px){
.project-list
	li{
		width: 100%;
		padding: 0px;
		margin-bottom: 10px;
	}
}
table{
	a{
		text-decoration: none;
		color: $text-grey;
		cursor: pointer;
		&:hover{
			color: $text-black;
			text-decoration: none;

		}
	}
	h3{
		color: $br-red;
		margin-top: 15px;
		margin-bottom: 10px;
	}
	th{
		background-color: $bg-grey;
	}
	tr:nth-child(even){
		background-color: $bg-grey;
	}
}

/* Project_page */

.project-page{
	h1{
		margin: 0 0 10px;
		padding-right: 200px;
		color: $text-black;
	}
	h6{
		position: absolute;
		top: 0;
		right: 0;
		color: $text-light-black;
	}
}
@media (max-width: 768px) {
	.project-page{
		>div{
			&:first-child{
				text-align: center;
			}
		}
		h1{
			padding-right: 0px;
		}
		h6{
			position: inherit;
		}
	}
}

.ppl-invld{
	margin-bottom: 0px;
	li{
		a{
			border-radius: 3px;
			display: inline-block;
			padding:6px 15px;
			background-color: $bg-light-grey;
			text-decoration: none;
			color: $text-lblack;
			&:hover{
			color: $text-hover-lblack;
			background-color: $bg-hover-light-grey;
			}
		}
	}
}
// .tab{
// 	margin-top: 10px;
// 	li{
// 		padding-right: 20px;
// 		width: 100%;
// 	}
// 	a{
// 		text-decoration: none;
// 		color: $br-red;
// 	}
// }
.slideshow{
	position: relative;
	margin: 25px auto;
	max-width: 600px;
	.carousel{
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		.carousel-indicators{
			z-index: 0 !important;
		}
		.carousel-caption{
			padding: 5px;
			bottom: 0;
			left: 0;
			right: 0;
			@include background-color(rgba($bg-black, 0.6));
		}
		.carousel-inner{
			height: 100%;
			.item{
				height: 100%;
				img{
					max-width: 100%;
					max-height: 100%;
					position: absolute;
					left: 50%;
					top: 50%;
					@include translate(-50%, -50%);
				}
			}

		}
		a{
			opacity: 0.2;
			&:hover{
				opacity: 0.5;
			}
		}
	}
}
.publications{
	h3{
		margin-top: 15px;
		margin-bottom: 10px;
	}
	h4{
		padding-top: 0px;
	}
	a{
		color: $text-black;
		text-decoration: none;
		&:hover{
			@include border-bottom(2px, solid, $br-light-red);
		}
	}
}

/* Publications */
.bib-content{
	position: relative;
	white-space: normal;
	span{
		position: absolute;
		bottom: 0;
		right: 10px;
	}
}

/* Login Page */

	/* universal input format,a tag and submit button*/
.univ-form{
	input, textarea{
		color: $text-grey;
		@include border(1px, solid, $br-light-grey);
		border-radius: 2px !important;
	}
	a{
		color: $text-grey;
		text-decoration: none;
		cursor: pointer;
	}
}
.red-btn{
	float: right;
	border-color: $br-red !important;
	border-radius: 2px;
	color: $br-red !important;
	@include transition(0.25,ease);
	&:hover{
		border-color: $br-red;
		color: $text-white !important;
		background-color: $br-red;
		@include transition(0.25,ease);
	}
}

    /* login box */
.login{
	width: 360px;
	margin: 0px auto;
	padding: 20px !important;
}
.remember{
	width: 100%;
	font-size: 16px;
	font-family: lato-light;
}

/* register page button */
.register-btn{
	margin-left: 100px;
	border-color: $br-red !important;
	border-radius: 2px;
	color: $br-red !important;
	@include transition(0.25,ease);
	&:hover{
		border-color: $br-red;
		color: $text-white !important;
		background-color: $br-red;
		@include transition(0.25,ease);
	}
}


/* Footer */
footer{
	font-family: lato-regular;
	background-color: $text-white;
	padding: 7.5px 0px;
	margin-top: 50px !important;
	@include box-shadow(0px, -4px , 2px, 0, rgba(0, 0, 0, 0.05), null);
	span{
		font-family: lato-light;
	}
}

/* Add data Admin/Users */
	/* Home Page */
.form-edit{
	@include border-bottom(2px, solid, $br-light-grey);
	>ol{
		h6{
			padding-right: 60px;
			position: relative;
			>span{
				position: absolute;
				right: 0;
				top: 10px;
				i{
					padding-left: 5px;
					cursor: pointer;
				}
			}
		}
	}
}

/* Helper-classes */

	/* Automations */
.mainheading{
	font-family: lato-light;
	color: $text-black;
	line-height: 29px;
	margin: 0;
	>span{
	  text-align: center;
	  display: inline-block;
      padding: 0 15px;
      padding-bottom: 15px;
      @include border-bottom(3px, solid, $br-red);
	}
}
.heading{
	font-family: lato-regular;
	color: $br-red;
	line-height: 18px;
	margin: 0;
	>span{
	  padding: 10px;
	}
}
.sub-heading{
	font-family: lato-regular;
	color: $text-black;
	margin: 0;
}
.content-heading{
	color: $br-red;
}
.content-heading.active{
	color: $text-hover-red;
}

.news-box{
	background-color: $text-white;
	@include border(1px, solid, $br-light-grey);
	border-radius: 3px;
	padding: 10px;
	margin-bottom: 10px;
	@include box-shadow(0px, 1px , 1px, 0, rgba(0, 0, 0, 0.1), null);
}
.user-box{
	position: relative;
	cursor: pointer;
	background-color: $text-white;
	overflow: hidden;
	padding: 0 !important;
	margin: 0 5px;
	@include border(1px, solid, $br-white-smoke);
	border-radius: 4px;
	@include box-shadow(0px, 1px , 7px, 0, rgba(0, 0, 0, 0.05), null);
	>span{
		color: $text-black;
		position: absolute;
		right: 10px;
		bottom: 10px;
		cursor: pointer;
		opacity: 0.5;
		&:hover{
			opacity: 1
		}
	}
}
.project-box{
	background-color: $text-white;
	@include border(1px, solid, $br-light-grey);
	border-radius: 2px;
	padding: 10px;
	@include box-shadow(0px, 1px , 4px, 0, rgba(0, 0, 0, 0.04), null);
	pre{
		font-family: lato-light;
		font-size: 21px;
		padding: 0;
		max-height: 90px;
		overflow: hidden;
		white-space: pre-line;
		color: $text-black;
		position: relative;
		word-break: normal;
		@include border(0, solid, transparent);
		@include background-color(transparent);
		>span{
			position: absolute;
			right: 0;
			bottom: 0;
			color: $text-grey;
		}
		&:hover{
			>span{
				color: $text-black !important;
			}
		}
	}
}

.float-none{
	float: none
}
.cursor-initial{
	cursor: initial;
}
.cursor-pointer{
	cursor: pointer;
}
.min-height-70vh{
	min-height: 70vh;
}
.position-relative{
	position: relative !important;
}
.vertical-align-inherit{
	vertical-align: inherit;
}
.edit-position{
	position: absolute;
	right: 20px;
	top: 15px
}
.display-none{
	display: none !important;
}
.resize-vertical{
	resize: vertical;
}
.chosen-select{
	.chosen-choices{
		@include border(1px, solid, $br-light-grey);
		@include border-radius(2px, 2px, 2px, 2px);
		background-image: none !important;
		@include box-shadow(0, 1px, 1px, 0, rgba(0,0,0,.075), inset);
		input{
			color: $text-grey !important;
			font-family: lato-light !important;
			margin: 0 !important;
			height: 32px !important;
		}
		li.search-choice{
			color: $text-black;
			line-height: inherit;
			@include border(0, solid, $br-light-grey);
			background-image: none;
			font-size: 14px;
			.search-choice-close{
				top: 8px;
			}
		}
	}
	.chosen-drop{
		@include border(1px, solid, $br-light-grey);
		color: $text-grey !important;
	}
}
.chosen-select.without-body-bg{
	.chosen-choices{
		@include border(1px, solid, #ccc);
		@include border-radius(4px, 4px, 4px, 4px);
	}
}
	/* Animation bw the views */
.view-container {
  position: relative;
}

.view-frame.ng-enter,
.view-frame.ng-leave {
  background: white;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.view-frame.ng-enter {
  animation: 1s fade-in;
  z-index: 100;
}

.view-frame.ng-leave {
  animation: 1s fade-out;
  z-index: 99;
}

@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to   { opacity: 0; }
}

	/* Measurements */
.margin-0-auto{
	margin: 0px auto;
}
.margin-0{
  margin: 0 !important;
}
.margin-top-10{
	margin-top: 10px !important;
}
.margin-top-0{
		margin-top: 0 !important;
}
.padding-0{
  padding: 0 !important;
}
.padding-10{
	padding: 10px !important;
}
.padding-5{
	padding: 5px !important;
}
.padding-top-5{
  padding:0 5px !important;
}
.padding-top-10{
  padding: 0 10px !important;
}
.padding-top-15{
  padding: 0 15px !important;
}
.padding-top-20{
  padding: 0 20px !important;
}
.padding-right-40{
  padding-right: 40px !important;
}
.padding-top-50{
  padding-top: 50px !important;
}
.padding-top-25{
	padding-top: 25px !important;
}
.padding-bottom-25{
  padding-bottom: 25px !important;
}
.padding-bottom-15{
	padding-bottom: 15px !important;
}
.padding-bottom-50{
  padding-bottom: 50px !important;
}
.padding-left-15{
	padding-left: 15px !important;
}
.padding-left-20{
	padding-left: 20px !important;
}
.padding-6-20{
	padding: 6px 20px !important;
}
.padding-6-36{
	padding: 6px 36px !important;
}
.padding-6-33{
	padding: 6px 33px !important;
}
.padding-2-20{
padding: 2px 20px !important;
}
.margin-top-25{
	margin-top: 25px !important;
}
.margin-top-110{
	margin-top: 110px !important;
}
.margin-top-2{
	margin-top: 2px !important;
}
.margin-bottom-25{
	margin-bottom: 25px !important;
}
.margin-bottom-10{
	margin-bottom: 10px !important;
}
.max-width-1400{
	max-width: 1400px !important;
}
.max-width-1300{
	max-width: 1300px !important;
}

    /* Fonts */
.lato-regular{
  font-family: lato-regular !important;
}
.lato-light{
  font-family: lato-light !important;
}
.lato-thin{
  font-family: lato-thin !important;
}
.f-size-12{
	font-size:12px;
}
.f-size-14{
	font-size:14px;
}
.f-size-16{
	font-size:16px;
}
.f-size-18{
	font-size:18px;
}
.f-size-21{
	font-size:21px;
}
.f-size-29{
	font-size:29px;
}
.f-size-32{
	font-size:32px;
}
.f-size-35{
	font-size:35px;
}
