<div class="container text-center nav-offset min-height-70vh">
	<div class="row">
		<div class="col-md-12">
			<h2 class="mainheading f-size-29 padding-bottom-25">
				<span>JOIN US</span>
			</h2>
      <div class="col-md-12 text-left">
        <div ng-bind-html="vm.contentObj.content"></div>
      </div>
    </div>
    <div class="col-md-12" ng-show="vm.isAdminLoggedIn()">
      <h2 class="lato-regular">Join us</h2>
      <div class="row news-box univ-form text-left">
				<div class="form-edit col-md-12 text-left padding-bottom-25">
          <div ng-bind-html="vm.contentObj.content"></div>
          <span class="pull-right" >
  					<a>
  						<i class="ion-edit" ng-click="vm.updateJoinUs(vm.contentObj)"></i>
  					</a>
  				</span>
        </div>
        <div class="col-md-12 margin-top-25">
          <form ng-submit="vm.addOrSaveJoinUs()" name="joinUs">
            <div class="form-group">
              <text-angular ng-model="vm.newContentObj.content"></text-angular>
            </div>
            <button type="submit" class="red-btn btn btn-default">{{vm.type}}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<footer ng-include="'app/shared/footer.html'" class="f-size-14 text-center"></footer>
