<!-- Navigation Menu -->
<div class="container-fluid max-width-1400" ng-controller="navController as vm">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#/home"><img src="assets/img/ssrr_red.png" alt="Structural Safety, Risk and Reliability" height="40" width="auto"></a>
    <h1 class="brand-name">Structural Safety, Risk and Reliability</h1>
  </div>

  <div class="collapse navbar-collapse navbar-right" ng-class="!navCollapsed && 'in'">
  	<ul class="nav navbar-nav main f-size-14">
  		<li><a ng-href="#!/home" ng-class="{'active': currentState == 'home'}"><span>HOME</span></a></li>
  		<li><a ng-href="#!/team" ng-class="{'active': currentState == 'team' || currentState == 'member'}"><span>TEAM</span></a></li>
  		<li><a ng-href="#!/projects" ng-class="{'active': currentState == 'projects' || currentState == 'project'}"><span>PROJECTS</span></a></li>
  		<li><a ng-href="#!/news" ng-class="{'active': currentState == 'news'}"><span>NEWS</span></a></li>
  		<li><a ng-href="#!/joinUs" ng-class="{'active': currentState == 'joinUs'}"><span>JOIN US</span></a></li>
      <li uib-dropdown is-open="status.isopen" ng-show="vm.isLoggedIn()">
        <button id="single-button" type="button" class="user-controls" uib-dropdown-toggle ng-disabled="disabled" ng-class="{'active': currentState == 'profile'}">
          <img ng-src="{{vm.user.dpUrl || '/assets/img/dummy_user.jpg'}}" class="img-resposive" width="30" height="30"/>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
          <li><a href="#!/member/{{vm.user._id}}"><b>{{vm.currentUser().name.firstName}}</b></a></li>
          <li role="separator" class="divider"></li>
          <li role="menuitem"><a href="#!/profile">Profile</a></li>
          <li role="menuitem"><a href="" ng-click="vm.userLogout()">Logout</a></li>
        </ul>
      </li>
  	</ul>
  </div>
</div>

<!-- To the top button -->
<a href="" scroll-to-block="'to-the-top'" class="to-the-top"><i class="ion-chevron-up"></i></a>

<!-- Admin Navigation -->
<nav class="navbar navbar-default admin-controls" ng-controller="NavCtrl as vm"  ng-show="vm.isAdminLoggedIn()">
  <ul class="nav navbar-nav">
    <li><a href="#!/admins">{{ vm.currentAdmin() }}</a></li>
    <li ng-click="vm.adminLogout()">Log Out</li>
    <li><a href="#!/publications">Publications</a></li>
  </ul>
</nav>
