<div class="container margin-top-110 min-height-70vh">
	<div class="row">
    <div class="col-md-12 text-center">
      <h2 class="lato-regular">Admins</h2>
      <div class="row news-box univ-form">
        <div class="col-md-12 text-left">
          <ol>
            <li ng-repeat="admin in vm.adminList track by $index" index="$index">
              <h6 class="f-size-18">
                {{admin.email}}
                <span class="pull-right">
                  <a>
                    <i class="ion-close" ng-click="vm.removeAdmin(admin._id, $index)"></i>
                  </a>
                </span>
              </h6>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
