<div class="container text-center nav-offset min-height-70vh">
	<div class="row">
	    <div class="col-md-12">
			<h2 class="f-size-35 lato-regular padding-bottom-25">
				<span>SSRR Admin</span>
			</h2>
			<div class="news-box login univ-form" ng-controller="AdminAuthController as vm">
				<h4 class="f-size-16 lato-regular">Sign in to start your admin session</h4>
				<form name="loginForm" novalidate ng-submit="vm.logIn(loginForm.$valid)">
					<div class="form-group has-feedback"
						ng-class="{'has-error': loginForm.Name.$invalid && !loginForm.Name.$pristine, 'has-success': loginForm.Name.$valid}">
						<input type="Text" placeholder="Name" class="form-control f-size-16 lato-light" required name="Name" ng-model="vm.login.username">
						<span class="ion-person form-control-feedback"></span>
					</div>
					<div class="form-group has-feedback"
						ng-class="{'has-error': loginForm.password.$invalid && !loginForm.password.$pristine, 'has-success': loginForm.password.$valid}">
						<input type="password" placeholder="Password" class="form-control f-size-16 lato-light" name="password" required ng-pattern="vm.passwordPattern" ng-minlength="8" ng-model="vm.login.password">
						<span class="ion-locked form-control-feedback"></span>
					</div>
					<div class="remember text-left">
						<input type="checkbox"><span class="f-size-16 lato-light"> Remember Me</span>
						<button type="submit" class="red-btn btn btn-default" ng-disable="!loginForm.$valid">Login</button>
					</div>
					<h3 class="f-size-16 lato-regular">-OR-</h3>
					<div class="text-left">
					<a class="f-size-16 lato-light">I forgot my password</a>
					<br>
					<a ng-href="#!/adminRegister" class="f-size-16 lato-light">Register as an Admin</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
