<div class="container text-center nav-offset">
	<div class="row">
	    <div class="col-md-12">
			<h2 class="f-size-35 lato-regular padding-bottom-25">
				<span>SSRR Admin</span>
			</h2>
			<div class="login news-box" ng-controller="AdminAuthController as vm">
				<h4 class="f-size-16 lato-regular">Register as an Admin</h4>
				<form name="registrationForm" novalidate ng-submit="vm.register(registrationForm.$valid)">
					<div class="form-group has-feedback"
						ng-class="{'has-error': registrationForm.adminToken.$invalid && !registrationForm.adminToken.$pristine, 'has-success': registrationForm.adminToken.$valid}">
						<input type="text" placeholder="Token" class="form-control f-size-16 lato-light" required name="adminToken" ng-model="vm.registration.adminToken"/>
						<span class="ion-alert-circled form-control-feedback"></span>
					</div>
					<div class="form-group has-feedback"
						ng-class="{'has-error': registrationForm.emailId.$invalid && !registrationForm.emailId.$pristine, 'has-success': registrationForm.emailId.$valid}">
						<input type="email" placeholder="Email" class="form-control f-size-16 lato-light" required name="emailId" ng-pattern="vm.emailFormat" ng-model="vm.registration.email">
						<span class="ion-email form-control-feedback"></span>
					</div>
					<div class="form-group has-feedback"
						ng-class="{'has-error': registrationForm.Name.$invalid && !registrationForm.Name.$pristine, 'has-success': registrationForm.Name.$valid}">
						<input type="text" placeholder="Name" class="form-control f-size-16 lato-light" name="Name" ng-model="vm.registration.username">
						<span class="ion-person form-control-feedback"></span>
					</div>
					<div class="form-group has-feedback"
						ng-class="{'has-error': registrationForm.password.$invalid && !registrationForm.password.$pristine, 'has-success': registrationForm.password.$valid}">
						<input type="password" uib-popover="Password should be at least 8 characters long and should contain one number,one character, one capital character and one special character."
							popover-trigger="'focus'" placeholder="Password" class="form-control f-size-16 lato-light" name="password" required ng-pattern="vm.passwordPattern" ng-minlength="8" ng-model="vm.registration.password">
						<span class="ion-locked form-control-feedback"></span>
					</div>
					<div class="form-group has-feedback"
						ng-class="{'has-error': registrationForm.reTypePassword.$invalid && !registrationForm.reTypePassword.$pristine, 'has-success': registrationForm.reTypePassword.$valid}">
						<input type="password" uib-popover="Password should be at least 8 characters long and should contain one number,one character, one capital character and one special character. And should match the above password"
							popover-trigger="'focus'" placeholder="Retype Password" class="form-control f-size-16 lato-light" name="reTypePassword" required ng-pattern="vm.passwordPattern" ng-minlength="8" ng-model="vm.registration.reTypePassword" pw-check="vm.registration.password">
						<span class="ion-close form-control-feedback" ng-show="registrationForm.reTypePassword.$error.pwCheck && !registrationForm.reTypePassword.$valid"></span>
						<span class="ion-checkmark form-control-feedback" ng-show="!registrationForm.reTypePassword.$error.pwCheck && registrationForm.reTypePassword.$valid"></span>
					</div>
					<div class="text-left" ng-class="{'has-error': registrationForm.checked.$invalid && !registrationForm.checked.$pristine, 'has-success': registrationForm.checked.$valid}">
					  <div class="checkbox">
					    <label class="remember">
					      <input type="checkbox" name="checked" required ng-model="vm.registration.checked">
					      I agree the terms
								<button type="submit" class="red-btn btn btn-default" ng-disable="!registrationForm.$valid">Sign Up</button>
					    </label>
					  </div>
					</div>
					<h3 class="f-size-16 lato-regular">-OR-</h3>
					<div class="text-left">
					<a ng-href="#!/adminLogin" class="f-size-16 lato-light">Already a member</a>
					<br>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
